.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 100px;

  // < 1400px
  @include breakpoint(xxxl) {
    padding: 0 50px;
  }

  // < 500px
  @include breakpoint(xs) {
    padding: 0 45px;
  }

  @each $classname, $width in $containers {
    &--#{$classname} {
      max-width: $width;
    }
  }
}
