/*================ Global ================*/

html {
  font-family: $f--body;
  font-size: $set-html-font-size;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow: hidden;
  overflow-y: auto;

  &.no-scroll {
    height: 100%;
    overflow: hidden;
  }
}

body {
  font-family: $f--body;
  font-size: 16px;
  line-height: 1.42857143;
  color: $black;
  background-color: $white;
  margin: 0;
  max-width: 100vw;
  overflow-x: hidden;
}