/*================ Global Typography ================*/

.complete [data-split-lines] {
  .line {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

[data-split-lines] {
  .line {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-1,
.h-2,
.h-3,
.h-4,
.h-5,
.h-6 {
  font-family: $f--head;
  font-weight: 900;
  line-height: 1;
  @include font-size(80px);
  color: $black;
  margin: 0;
  letter-spacing: -0.01em;

  // < 960px
  @include breakpoint(l) {
    @include font-size(70px);
  }

  // < 750px
  @include breakpoint(l) {
    @include font-size(60px);
  }

  // < 500px
  @include breakpoint(xs) {
    @include font-size(50px);
  }
}

p {
  font-family: $f--body;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  @include font-size(20px);
}

/*================ Lists ================*/

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*================ Blockquote Styles ================*/

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid $black;
  p:last-child,
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
}
