.benefits {

  &__heading,
  &__list {
    width: 61.53%;
    margin-left: auto;
    padding-right: 50px;
  }

  &__heading {
    margin-bottom: 46px;
    @include fadeIn;
  }

  &__item {
    margin: 0 0 60px;
    @include fadeIn;
  }

  &__title {
    width: 33.33%;
    padding: 6px 50px 0 0;
  }
  
  &__text {
    width: 66.66%;
  }

  &__text p {
    margin: 0 0 28px;
  }

  &__icon {
    display: none;
    top: 26px;
    right: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $black;
    transition: background 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: $black;
      transform: translate(-50%, -50%);
      transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  &__sketch {
    width: 27%;
    left: 118px;
    top: 220px;
  }
}

// ------------------------------------------------- //

// < 1400px
@include breakpoint(xxxl) {
  .benefits {

    &__sketch {
      left: 40px;
    }

  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .benefits {

    &__heading,
    &__list {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .benefits {

    &__heading,
    &__list {
      width: 100%;
      padding-left: 0;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .benefits {

    &__item {
      border-top: 2px solid #E2E2E2;
      cursor: pointer;
      overflow: hidden;
      margin: 0;

      &.js-open {
        .benefits__text {
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
  
        .benefits__icon {
          background: $black;
        }
  
        .benefits__icon:before,
        .benefits__icon:after {
          background: $white;
        }
  
        .benefits__icon:after {
          transform: translate(-50%, -50%) rotate(0);
        }
      }
    }

    &__title {
      width: 100%;
      padding: 18px 0 50px;
      @include font-size(24px);
    }

    &__text {
      width: 100%;
    }
    
    &__icon {
      display: block;
    }

    &__sketch {
      display: none;
    }

  }
}


// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .benefits {
    padding: 0 0 78px;

    &__heading {
      @include font-size(46px);
    }

    &__title {
      padding: 18px 0;
      width: calc(100% - 50px);
      @include font-size(20px);
    }

    &__text {
      width: 100%;
      margin: 0 0 40px;
    }
    
    &__text p {
      @include font-size(16px);
    }

    &__icon {
      top: 14px;
      right: 12px;
      width: 26px;
      height: 26px;

      &:before, &:after {
        width: 12px;
      }
    }

  }
}