.benefitLogos {
  padding: 168px 0 118px;

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    .benefitLogos__item {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    width: 61.53%;
    margin-left: auto;
    padding-right: 100px;
  }

  &__heading {
    margin: 0 0 50px;

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }
    }
  }

  &__item {
    width: 25%;
    margin: 0 0 74px;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }

    img {
      max-width: 140px;
      max-height: 76px;
    }
  } 
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .benefitLogos {

    &__content {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .benefitLogos {

    &__content {
      width: 100%;
      padding-left: 0;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .benefitLogos {

    &__heading {
      text-align: center;
      width: 100%;
      max-width: 650px;
      margin: 0 auto 116px;
      @include font-size(36px);
    }

    &__item {
      margin: 0 0 52px;
  
      &:nth-child(5n+1),
      &:nth-child(5n+2) {
        width: 50%;
        justify-content: center;
        padding: 0;
      }

      &:nth-child(5n+3),
      &:nth-child(5n+4),
      &:nth-child(5n+5) {
        width: 33.33%;
        justify-content: center;
        padding: 0;
      }

      &:nth-child(5n+3) {
        justify-content: flex-start;
      }

      &:nth-child(5n+5) {
        justify-content: flex-end;
      }
  
    }

  }
}

// ------------------------------------------------- //

// < 600px
@include breakpoint(s) {
  .benefitLogos {
    padding: 148px 0 90px;

    &__heading {
      @include font-size(24px);
      max-width: 340px;
      margin: 0 auto 66px;
    }

    &__item {
      margin: 0 0 34px;

      img {
        max-height: 66px;
        max-width: 105px;
      }
      
      &:nth-child(3n+1) {
        width: 100%;
        justify-content: center;
      }

      &:nth-child(3n+2),
      &:nth-child(3n+3) {
        width: 50%;
        justify-content: center;
      }

      &:nth-child(3n+2) {
        justify-content: flex-start;
      }

      &:nth-child(3n+3) {
        justify-content: flex-end;
      }
    }

  }
}