.clientLogos {
  padding: 92px 0 30px;

  &__heading {
    max-width: 500px;
    margin: 0 auto 116px;
  }

  &__text {
    max-width: 580px;
    text-align: center;
    margin: 0 auto 100px;
  }

  &__item {
    margin: 0 0 105px;

    img {
      max-height: 80px;
      max-width: 140px;
      object-fit: contain;
      // transform: scale(0);
    }

    &:nth-child(7n),
    &:nth-child(7n+1),
    &:nth-child(7n+2),
    &:nth-child(7n+3) {
      width: 33.33%;
    }

    &:nth-child(7n+1) {
      justify-content: flex-end;
      padding: 0 4% 0 0;
    }

    &:nth-child(7n+3) {
      justify-content: flex-start;
      padding: 0 0 0 4%;
    }

    &:nth-child(7n+4),
    &:nth-child(7n+5),
    &:nth-child(7n+6),
    &:nth-child(7n+7) {
      width: 25%;
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .clientLogos {

    &__heading {
      max-width: 450px;
      @include font-size(36px);
    }

    &__item {
      margin: 0 0 52px;
  
      &:nth-child(5n+1),
      &:nth-child(5n+2) {
        width: 50%;
        justify-content: center;
        padding: 0;
      }

      &:nth-child(5n+3),
      &:nth-child(5n+4),
      &:nth-child(5n+5) {
        width: 33.33%;
        justify-content: center;
        padding: 0;
      }

      &:nth-child(5n+3) {
        justify-content: flex-start;
      }

      &:nth-child(5n+5) {
        justify-content: flex-end;
      }
  
    }

  }
}

// ------------------------------------------------- //

// < 600px
@include breakpoint(s) {
  .clientLogos {
    padding: 78px 0;

    &__heading {
      @include font-size(24px);
      max-width: 340px;
      margin: 0 auto 66px;
    }

    &__item {
      margin: 0 0 34px;

      img {
        max-height: 66px;
        max-width: 105px;
      }
      
      &:nth-child(3n+1) {
        width: 100%;
        justify-content: center;
      }

      &:nth-child(3n+2),
      &:nth-child(3n+3) {
        width: 50%;
        justify-content: center;
      }

      &:nth-child(3n+2) {
        justify-content: flex-start;
      }

      &:nth-child(3n+3) {
        justify-content: flex-end;
      }
    }

  }
}