.comments {
  padding: 142px 0;
  background: $blue;
  clip-path: polygon(0 70px, 100% 0, 100% 100%, 0% 100%);

  // < 500px
  @include breakpoint(xs) {
    padding: 70px 0;
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);
    margin: -30px 0 0;
  }

  &__heading {
    margin: 0 0 76px;
  }

  li.comment {
    position: relative;
    padding: 0 0 42px;
    border-bottom: 1px solid rgba(51,30,68,0.5);
    margin: 0 0 48px;

    &:last-child {
      border: 0;
    }

    &.depth-2 {
      border: 0;
      padding: 30px 30px 30px 50px;
      margin: 50px 0 0;
      background: rgba(0,0,0,0.05);
      border-radius: 14px;
    }

    &.depth-2 .comment-meta {
      right: 24px;
    }

    .comment-body {
      position: relative;
    }

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }

    .says {
      display: none;
    }

    cite.fn {
      font-style: normal;
      margin-left: 40px;
      @include font-size(18px);
    }

    .comment-author {
      display: flex;
      align-items: center;
      margin: 0 0 30px;
    }

    .comment-meta {
      position: absolute;
      top: 24px;
      right: 0;
      opacity: 0.5;
      @include font-size(12px);
    }

    .reply {
      margin: 12px 0 0;
      text-decoration: underline;
    }

    p {
      @include font-size(24px);
    }

  }

  .comment-respond {
    padding: 56px 0 0;
    border-top: 1px solid rgba(51,30,68,0.5);
  }

  .comment-reply-title {
    width: 50%;
  }

  .comment-form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 76px 0 0;
  }

  .logged-in-as,
  .comment-notes {
    position: absolute;
    top: -156px;
    right: 0;
    width: calc(50% - 25px);
    @include font-size(24px);
  }

  .comment-form-fields,
  .comment-form-comment {
    width: calc(50% - 25px);
  }

  .comment-form-fields {
    order: 1;
  }

  .comment-form-comment {
    order: 2;

    textarea {
      height: calc(100% - 42px);
    }
  }

  label {
    display: none;
  }

  .comment-form-cookies-consent {
    display: flex;
    order: 2;
    margin: 20px 0 0;
    width: calc(50% - 25px);
  }
  
  .comment-form-cookies-consent label {
    display: inline-block;
    @include font-size(16px);
  }

  .comment-form-cookies-consent input {
    width: 32px;
    height: 30px;
    border-radius: 8px;
    margin: 0 12px 0 0;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
  }

  input[type="text"], input[type="email"], input[type="url"] {
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
    width: 100%;
    margin: 0 0 42px;
  }

  .form-submit {
    width: calc(50% - 25px);
    order: 3;
  }
  
  input[type="submit"] {
    width: 100%;
  }

  .comment-respond.loggedin {

    .logged-in-as {
      top: -120px;
    }

    .comment-form-comment {
      width: 100%;
      margin: 0 0 42px;

      textarea {
        height: 300px;
      }
    }

    .form-submit {
      width: 100%;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .comments {

    .comment-form {
      margin: 20px 0 0;
    }

    .comment-reply-title,
    .comment-form-fields,
    .comment-form-comment,
    .comment-form-cookies-consent,
    .logged-in-as {
      width: 100%;
    }

    .comment-notes,
    .logged-in-as {
      width: 100%;
      position: relative;
      top: 0;
      margin: 0 0 20px;
      @include font-size(20px);
    }

    .comment-respond.loggedin .logged-in-as {
      top: 0;
    }

    .comment-form-comment {
      order: 0;
      margin: 0 0 42px;
    }

    .comment-respond.loggedin .comment-form-comment textarea,
    .comment-form-comment textarea {
      height: 185px;
    }

    .comment-form-cookies-consent {
      margin: 0 0 42px;
    }

    .form-submit {
      width: 100%;
    }
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .comments {

    &__heading {
      @include font-size(24px);
      margin: 0 0 46px;
    }

    li.comment {
      padding: 0 0 22px;
      margin: 0 0 28px;
    }

    li.comment .avatar {
      width: 50px;
      height: 50px;
    }

    li.comment cite.fn {
      margin-left: 18px;
      @include font-size(14px);
    }

    li.comment p {
      @include font-size(16px);
    }

    li.comment .comment-author {
      margin: 0 0 18px;
    }

    li.comment .comment-meta {
      bottom: 4px;
      top: auto;
    }

    li.comment .reply {
      margin: 24px 0 0;
    }

    li.comment.depth-2 {
      padding: 15px;
      margin: 25px 0 0;
    }

    li.comment.depth-2 .comment-meta {
      right: 0;
    }

    .comment-reply-title {
      @include font-size(46px);
    }

    .comment-notes {
      @include font-size(12px);
    }

    .comment-respond.loggedin .comment-form-comment,
    .comment-form-comment {
      margin: 0 0 14px;
    }

    input[type="text"], input[type="email"], input[type="url"] {
      margin: 0 0 14px;
    }

    .comment-form-cookies-consent label {
      @include font-size(12px);
    }

  }
}
