.contact {
  padding: 212px 0 160px;

  &.is-inview {
    .line {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .line {
    opacity: 0;
    transition: transform 1s, opacity 1s;

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.08s);
      }
    }
  }

  &__mapHolder {
    width: 53.84%;
    // clip-path: url(#contact__maskClip);
    // -webkit-clip-path: url(#contact__maskClip);
  }

  &__mapHeading {
    display: none;
  }
  
  &__map {
    width: 100%;
    height: 572px;
    border-radius: 20px;
  }

  &__mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }

  &__content {
    padding: 135px 0 0 50px;
    width: 46.16%;
  }

  &__address {
    margin: 26px 0 30px;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .contact {

    &__heading {
      @include font-size(60px);
    }

    &__address {
      @include font-size(28px); 
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .contact {
    padding: 204px 0 160px;

    &__mapHolder {
      width: 100%;
    }

    &__map {
      height: 64vw;
      // clip-path: url(#contact__maskClipMobile);
      // -webkit-clip-path: url(#contact__maskClipMobile);
    }

    &__mapHeading {
      display: block;
      margin: 0 0 36px;
    }

    &__content {
      padding: 30px 0 0;
      width: 100%;
    }

    &__heading {
      display: none;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .contact {

    &__mapHeading {
      @include font-size(44px);
    }

    &__content {
      padding: 14px 0 0;
    }

    &__content p {
      @include font-size(24px);
    }

  }
} 