.contactForm {
  background: $yellow;
  padding: 146px 0;
  margin: 344px 0 0;

  &__heading {
    width: 50%;
    padding-right: 50px;
    @include fadeIn;
  }

  &__text {
    width: 50%;
    padding: 18px 0 100px 25px;
    @include fadeIn;
    transition-delay: 0.2s; 
  }

  &__booking {
    margin: 30px 0 0;
    font-size: 16px;
    display: block;
    width: 260px;
    text-align: center;
  }

  &__formHolder {
    @include fadeIn;
    transition-delay: 0.4s;
  }

  &__form {

    &.submitted {
      pointer-events: none;

      fieldset {
        opacity: 0.6;
      }

      button {
        color: transparent;
  
        .spinner {
          opacity: 1;
        }
      }
    }

    .success-msg {
      margin: 0 auto;
      text-align: center;
    }

    .success-msg h2, h3 {
      @include font-size(32px);
      margin: 0 0 18px;
    }

    .error-message {
      position: absolute;
      bottom: -24px;
      left: 0;
      color: #351919;
      font-size: 14px; 
      font-weight: 700;
    }
    
    fieldset {
      position: relative;
      width: calc(50% - 24px);
      margin: 0 0 44px;
      padding: 0;

      input, select {
        width: 100%;
      }
    }

    input[type="submit"] {
      width: calc(50% - 24px);
    }

    button {
      position: relative;
      width: calc(50% - 24px);
    }

    input[type="checkbox"] {
      width: 32px;  
    }

    select {
      width: calc(50% - 24px);
    }
  
    .checkbox {
      width: 50%;
      padding: 0 20px 0 50px;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include loadingSpinner;
      opacity: 0;
    }
  }

  &__success,
  &__error,
  &__exists,
  &__response {
    display: none;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 0;

    h3 {
      @include font-size(32px);
      margin: 0 0 12px;
    }

    p {
      position: relative;
      margin: 0 0 30px;
    }

    a {
      font-weight: 700;
      text-decoration: underline; 

      &:hover {
        text-decoration: none;
      }
    }

    .tooltip {
      position: absolute;
      font-size: 12px;
      background: $white;
      padding: 10px;
      border-radius: 8px;
      top: -50px;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, 10px);
      transition: opacity 0.3s, transform 0.3s;
      pointer-events: none;
    }

    #TrialApiKey {
      color: $white;
      background: $black;
      padding: 12px 18px;
      font-size: 16px;
      border-radius: 8px;
      white-space: nowrap;

      &:hover + .tooltip {
        opacity: 1;
        transform: translate(-50%, 0);
      }
    }

  }

  &__boxes {
    width: calc(50% - 24px);
    padding: 0 28px;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .contactForm {

    &__heading {
      @include font-size(70px);
    }

    &__text {
      @include font-size(22px);
    }

    &__boxes {
      padding: 0;

      .checkbox {
        padding: 0 0 0 50px;
      }
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .contactForm {

    &__heading {
      width: 100%;
      @include font-size(60px);
    }

    &__text {
      width: 100%;
      padding: 22px 0 42px;
    }

    &__form {
      input[type="submit"] {
        width: 100%;
      }
    }

    &__boxes {
      width: 100%;
      order: 99;
      margin: 30px 0 0;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .contactForm {

    &__form fieldset,
    &__form select {
      width: 100%;
      margin: 0 0 44px;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .contactForm {
    padding: 104px 0 60px;
    margin: 180px 0 0;

    &__heading {
      @include font-size(46px);
    }

    &__text {
      @include font-size(18px);
      padding: 16px 0 32px;
    }

    &__form fieldset,
    &__form select {
      margin: 0 0 14px;
    }

    &__form .error-message {
      position: relative;
      bottom: 0;
      margin: 3px 0;
    }

    &__success {
      #TrialApiKey {
        font-size: 12px;
      }
    }

    &__boxes {
      margin: 18px 0 0;

      .checkbox {
        padding: 0 0 0 40px;
      }
    }

  }
}