.faqs {
  padding: 200px 0;
  background: #fff;
  clip-path: polygon(0 0, 100% 70px, 100% 100%, 0% 100%);
  margin-top: -70px;

  &__heading {
    padding-left: 100px;
    max-width: 550px;
    margin: 0 0 62px;

    &.is-inview .line {
      opacity: 1;
      transform: translateY(0);
    }

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.08s);
        }
      }
    }
  }
  
  &__list {
    padding: 0 100px;
  }

  &__item {
    background: #DDDDDD;
    border-radius: 17px;
    padding: 0 150px 0 34px;
    margin: 0 0 24px;
    overflow: hidden;
    cursor: pointer;
    @include fadeIn;
    transition: background 0.3s, transform 0.8s, opacity 0.8s;

    &.js-open {
      background: $black;

      .faqs__title,
      .faqs__text {
        color: #fff;
      }

      .faqs__text {
        opacity: 1;
        transform: translateY(0);
      }

      &:before,
      &:after {
        background: $white;
      }

      &:after {
        transform: rotate(0);
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 32px;
      right: 32px;
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: $black;
      transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
    }

    &:after {
      transform: rotate(-90deg);
    }
  }

  &__title {
    letter-spacing: 0;
    padding: 22px 0;
    transition: color 0.3s;
  }

  &__text {
    padding: 26px 0 50px;
    opacity: 0;
    transform: translateY(-25px);
    transition: transform .6s, opacity .3s, color 0.3s;

    a {
      color: $white;
      font-weight: 700;
      font-style: italic;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }

      &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.35 12.67'%3E%3Cpolygon points='12.89 5.93 12.89 5.92 6.97 0 5.56 1.41 9.48 5.33 0 5.33 0 7.33 9.39 7.33 5.56 11.17 7.06 12.67 13.35 6.38 12.89 5.93' style='fill:%23fff'/%3E%3C/svg%3E");
        display: inline-block;
        width: 12px;
        height: 12px;
        margin: 0 2px 0 6px;
      }
    }

    p {
      margin: 0 0 26px;
    }

    p:last-child {
      margin: 0;
    }
  }

}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .faqs {

    &__heading {
      padding-left: 50px;
    }
    
    &__list {
      padding: 0 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .faqs {
    padding: 140px 0;

    &__heading {
      padding-left: 0;
      max-width: 340px;
    }
    
    &__list {
      padding: 0;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .faqs {
    padding: 56px 0 90px;
    clip-path: polygon(0 0, 100% 24px, 100% 100%, 0% 100%);
    margin-top: -24px;

    &__heading {
      max-width: 250px;
      margin: 0 0 46px;
      @include font-size(46px);
    }

    &__item {
      padding: 0 50px 0 24px;
      margin: 0 0 18px;

      &:before, &:after {
        top: 32px;
        right: 18px;
        width: 12px;
      }
    }

    &__title {
      padding: 18px 0;
      @include font-size(16px);
    }

    &__text {
      padding: 10px 0 40px;
    }

    &__text p {
      @include font-size(14px);
    }
  
  }
}