.featuredProducts {
  transition: clip-path 1s ease-out;
  // clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);

  // &.is-inview {
  //   clip-path: polygon(0 0, 100% 70px, 100% calc(100% - 30px), 0% 100%);
  // }

  &__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $lightgrey;
    clip-path: polygon(0 0, 100% 70px, 100% calc(100% - 30px), 0% 100%);
  }

  &__slides {
    position: relative;
    width: 100%;
    padding: 220px 0 320px 100px;

    .flickity-prev-next-button {
      position: absolute;
      bottom: -150px;
      left: 50px;
      width: 50px;
      height: 47px;
      background: $white;
      border: 0;
      padding: 0;
      border-radius: 8px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      transition: opacity 0.3s, background 0.3s;
  
      &:hover {
        background: $black;
  
        &:after {
          content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23fff'/%3E%3C/svg%3E");
        }
      }
  
      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
        position: absolute;
        top: calc(50% - 4px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 11px;
      }
  
      &.next {
        left: auto;
        right: 50px;
      }
  
      &.previous:after {
        transform: translate(-50%, -50%) scaleX(-1);
      }
  
      &:disabled {
        opacity: 0.5;
      }
  
      .flickity-button-icon {
        display: none;
      }
    }
  }

  &__slide {
    position: absolute;
    top: 220px;
    left: 100px;
    margin: 0;
    max-width: 700px;
    opacity: 0;
    pointer-events: none;
    // transform: translate3d(0, 100px, 0);
    transition: opacity 0.4s, transform 0.4s;

    &.active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      pointer-events: auto;
      transition: opacity 0.4s 0.35s, transform 0.4s 0.35s;
    }

    &:first-child {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  &__heading {
    margin: 42px 0 20px;
  }

  &__text {
    max-width: 550px;
    margin: 0 0 28px;
  }

  // &__links {
  //   opacity: 0;
  //   transform: translateY(100px);
  // }

  &__button {
    margin: 0 30px 0 0;
  }

  &__icon {
    width: 100px;
    height: auto;
  }

  &__shape {
    top: 220px;
    right: 50px;
    width: 65%;

    svg.product-shapes,
    svg.product-shapes-mobile {
      // fill: $blue;
      fill: #9b76fa;
      transition: fill .5s ease;
    }

    svg.product-shapes-mobile {
      display: none;
    }

    .shape1, .shape2, .shape3, .shape4, .shape5, .shape6,
    .shapeM1, .shapeM2, .shapeM3, .shapeM4, .shapeM5, .shapeM6 {
      opacity: 0;
    }
  }

  &__sketches {
    width: 100%;
  }

  &__sketch {
    height: auto;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.6s;

    &.active {
      transform: translate(-50%, -50%) scale(1);
    }

    &.Vertr {
      width: 79.7%;
      left: calc(50% + 28px);
    }

    &.Flowr {
      width: 63.2%;
      left: calc(50% + 130px);
      top: calc(50% - 20px);
    }

    &.Filer {
      width: 52.5%;
      top: calc(50% - 80px);
      left: calc(50% + 80px);
    }

    &.Indxr {
      width: 63.2%;
      left: calc(50% + 130px);
      top: calc(50% - 20px);
    }

    &.Trigr {
      width: 63.2%;
      top: calc(50% - 20px);
      left: calc(50% + 130px);
    }
  }
  
  &__pagination {
    left: calc(-48% + 20px);
  }

  &__paginationItem {
    display: block;
    width: 8px;
    height: 8px;
    background: $black;
    opacity: 0.25;
    border-radius: 50%;
    margin: 18px 0;
    transition: opacity 0.4s;

    &.active {
      opacity: 1;
    }
  }

}

// ------------------------------------------------- //

// < 1400px
@include breakpoint(xxxl) {
  .featuredProducts {

    &__shape {
      right: 0;
    }

  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .featuredProducts {

    &__slides {
      padding: 220px 0 370px 50px;
    }

    &__slide {
      max-width: 610px;
      left: 50px;
    }

    &__heading {
      @include font-size(70px);
    }

    &__text {
      @include font-size(22px);
    }

    &__shape {
      width: 75%;
    }

    &__pagination {
      left: calc(-25% - 50px);
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .featuredProducts {

    &__slides {
      padding: 220px 0 220px 0;
    }

    &__slide {
      max-width: 520px;
      left: 0;
    }

    &__heading {
      @include font-size(60px);
    }

    &__text {
      @include font-size(20px);
    }

    &__shape {
      width: 85%;
    }

    &__pagination {
      display: none;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .featuredProducts {

    &__slide {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 1;
      padding: 0 50px 0 0;
    }
    
    &__carousel {
      position: relative;
      z-index: 2;
      outline: none;
    }

    &__heading {
      @include font-size(50px);
      max-width: 400px;
    }

    svg.product-shapes {
      display: none;
    }

    svg.product-shapes-mobile {
      display: block;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .featuredProducts {

    &.is-inview {
      clip-path: polygon(0 0, 100% 40px, 100% calc(100% - 30px), 0% 100%);
    }

    &__slides {
      padding: 110px 0 240px 0;
    }

    &__slide {
      min-width: calc(100% + 50px);
    }

    &__heading {
      @include font-size(46px);
      margin: 16px 0 10px;
    }

    &__text {
      @include font-size(18px);
      margin: 0 0 36px;
    }

    &__link {
      max-width: 120px;
      padding-left: 6px;
      @include font-size(12px);
    }

    &__shape {
      top: 270px;
      right: -20px;
      width: 94%;
    }

    &__sketch {
      &.Vertr {
        width: 107.1%;
        left: 40%;
        top: calc(50% - 170px);
      }

      &.Nectr {
        width: 88%;
        left: 50%;
        top: calc(50% - 140px);
      }

      &.Filer {
        width: 75.5%;
        top: calc(50% - 100px);
        left: 41%;
      }
    }

  }
}