.features {
  padding: 0 0 110px;

  &__intro {
    margin-bottom: 82px;
    @include fadeIn;
  }

  &__intro,
  &__list {
    width: 61.53%;
    margin-left: auto;
    padding-right: 150px;
  }

  &__list {
    list-style: inside;
  }

  &__item {
    border-top: 2px solid #E2E2E2;
    cursor: pointer;
    overflow: hidden;
    @include fadeIn;

    &.js-open {

      .features__text {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      .features__icon {
        background: $black;
      }

      .features__icon:before,
      .features__icon:after { 
        background: $white;
      }

      .features__icon:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }

    &:hover {
      .features__icon {
        background: $black;
      }

      .features__icon:before,
      .features__icon:after {
        background: $white;
      }
    }
  }

  &__title {
    width: 30.76%;
    margin-right: 15.38%;
    padding: 18px 0 76px;
  }

  &__text {
    width: 38.46%;
    margin: 20px 0 56px;
    opacity: 0;
    transform: translateY(-25px);
    pointer-events: none;
    transition: transform .6s, opacity .3s;

    a {
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      margin: 0 0 4px;
    }

    li:before {
      content: '•';
      display: inline-block;
      margin: 0 4px 0 0;
    }
  }

  &__icon {
    top: 26px;
    right: 8px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $black;
    transition: background 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: $black;
      transform: translate(-50%, -50%);
      transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  .end-trigger {
    position: relative;
    top: 0;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .features {

    &__intro,
    &__list {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .features {

    &__intro,
    &__list {
      width: 100%;
      padding-left: 0;
    }

    &__intro {
      @include font-size(22px);
    }

    &__title {
      @include font-size(24px);
      padding: 18px 0 50px;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .features {

    &__intro {
      margin-bottom: 30px;
      @include font-size(16px);
    }

    &__title {
      padding: 18px 0;
      width: calc(100% - 50px);
      @include font-size(20px);
    }

    &__text {
      width: calc(100% - 50px);
      margin: 0 0 40px;
      @include font-size(14px);
    }

    &__icon {
      top: 14px;
      right: 12px;
      width: 26px;
      height: 26px;

      &:before, &:after {
        width: 12px;
      }
    }

  }
}