.featuresAlt {
  background: $lightgrey;
  padding: 148px 0 168px;
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0% 100%);

  &__header,
  &__list {
    width: 61.53%;
    margin-left: auto;
    padding-right: 50px;
  }
  
  &__heading {
    @include fadeIn;
  }

  &__intro {
    margin: 46px 0 78px;
    @include fadeIn;
  }

  &__item {
    background: $white;
    padding: 42px 50px;
    margin: 0 0 50px;
    border-radius: 17px;
    width: calc(50% - 25px);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
    overflow: hidden;
    @include fadeIn;
    
    &.js-modal-item .featuresAlt__hover {
      display: flex;
    }

    &.js-modal-item:hover .featuresAlt__hover {
      opacity: 1;
    }
  }

  &__title {
    margin: 0 0 30px;
  }

  &__hover {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.75);
    cursor: pointer;
    display: none;
    transition: opacity .3s;

    p {
      text-decoration: underline;
    }
  }

  &__modal {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;

    &.js-open {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__close {
    top: 10px;
    right: 48px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 22.24 22.24'%3E%3Cline x1='2.12' y1='2.12' x2='20.12' y2='20.12' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:3px'/%3E%3Cline x1='20.12' y1='2.12' x2='2.12' y2='20.12' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:3px'/%3E%3C/svg%3E");
    width: 22px;
    height: 22px;
  }

  &__modalTitle {
    padding-left: 50px;
    margin: 0 0 20px;
  }

  &__image {
    width: 100%;
    max-width: 900px;
    border-radius: 17px;
  }

  &__icon {
    display: none;
    top: 26px;
    right: 26px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid $black;
    transition: background 0.3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 16px;
      height: 2px;
      border-radius: 1px;
      background: $black;
      transform: translate(-50%, -50%);
      transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
    }

    &:after {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }

  .end-trigger {
    position: relative;
    top: 50px;
  }

}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .featuresAlt {

    &__header,
    &__list {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .featuresAlt {

    &__header,
    &__list {
      width: 100%;
      padding-left: 0;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .featuresAlt {

    &__item {
      width: 100%;
      padding: 0 32px;
      margin: 0 0 22px;

      &.js-open {
        .featuresAlt__text {
          opacity: 1;
          transform: translateY(0);
          pointer-events: auto;
        }
  
        .featuresAlt__icon:after {
          transform: translate(-50%, -50%) rotate(0);
        }
      }
    }

    &__title {
      margin: 0;
      padding: 28px 0;
      width: calc(100% - 20px);
      @include font-size(26px);
    }

    &__text {
      margin: 0 0 28px;
    }

    &__icon {
      display: block;
    }

    &__hover {
      visibility: hidden;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .featuresAlt {
    padding: 62px 0 68px;
    clip-path: polygon(0 0, 100% 24px, 100% 100%, 0% 100%);

    &__heading {
      @include font-size(46px);
    }

    &__intro {
      margin: 32px 0 44px;
      font-size: 16px;
      line-height: 1.45em;
    }

    &__item {
      padding: 0 28px;
    }

    &__title {
      padding: 26px 0;
      @include font-size(20px);
    }

    &__text {
      @include font-size(14px);
    }

    &__icon {
      top: 24px;
      right: 18px;
      width: 26px;
      height: 26px;

      &:before, &:after {
        width: 12px;
      }
    }

  }
}