.hero {
  padding: 306px 0 126px;
  z-index: 4;

  &.is-inview { 
    .line {
      opacity: 1;
      transform: translateY(0);
    }

    .hero__text {
      opacity: 1;
      transform: translateY(0);
    } 
  
    .hero__content {
      opacity: 1;
    }

    .hero__imageHolder,
    .hero__scroll {
      transform: scale(1);
    }

    .hero__bg {
      clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 75px), 0% 100%);
    }
  }

  &__content {
    width: 50%;
    max-width: 550px;

    .line {
      transition: transform 0.8s, opacity 0.8s;
  
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.08s);
        }
      }
    }
  }

  &__heading {
    margin: 60px 0 32px;
  }

  &__text {
    opacity: 0;
    transform: translate3d(0, 100px, 0); 
    transition: transform 0.8s 0.2s, opacity 0.8s 0.2s;
  }

  &__imageHolder {
    width: 50%;
    transform: scale(0);
    transition: transform 0.8s 0.4s cubic-bezier(0.46, 1.87, 0.19, 0.97);

    svg.logo-icon {
      position: relative;
      top: 18px;
      left: 64px;
      width: 330px;
      height: auto; 
      z-index: 2;
    } 

    img.hero-drawing {
      position: absolute;
      width: 850px;
      height: auto;
      top: calc(50% - 24px);
      left: calc(50% + 61px);
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  }

  &__scroll {
    display: inline-block;
    bottom: -130px;
    left: 200px;
    height: 38px;
    width: 35px;
    background: $black;
    border-radius: 8px;
    transform: scale(0);
    transition: transform 1s 0.5s cubic-bezier(0.46, 1.87, 0.19, 0.97), background 0.3s;

    &:hover {
      background: $white;

      svg.arrow {
        fill: $black;
      }
    }

    svg.arrow {
      width: 18px;
      height: 8px;
      fill: #fff;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%,-50%) rotate(90deg);
      transition: fill 0.3s;
    }
  }

  &__bg {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $yellow;
    height: 100vh;
    transition: clip-path 0.8s 0.4s ease-out;
    clip-path: polygon(0px 0px, 100% 0px, 100% 100%, 0% 100%);

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .hero {
    padding: 242px 0 126px;

    .container {
      flex-direction: column-reverse;
    }

    &__content {
      width: 100%;
    }

    &__text {
      @include font-size(22px);
    }

    &__imageHolder {
      width: 200px;
      text-align: left;

      svg.logo-icon {
        width: 100%;
        left: 0;
      }

      img.hero-drawing {
        top: calc(50% + 6px);
        left: calc(50% - 8px);
        width: 505px; 
      }
    }

    &__scroll {
      left: 100px;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .hero {
    padding: 242px 0 84px;

    &.is-inview .hero__bg {
      clip-path: polygon(0px 0px, 100% 0px, 100% calc(100% - 30px), 0% 100%);
    }

    &__heading {
      margin: 54px 0 18px;
    }

    &__text {
      @include font-size(18px);

      br { display:none; }
    }

    &__scroll {
      left: 52px;
      bottom: -100px;
    }

  }
}