.imageIntro {
  padding: 240px 0 144px;

  &.is-inview {
    .line,
    .imageIntro__text {
      opacity: 1;
      transform: translate3d(0, 0, 0); 
    }
  }

  &__imageHolder {
    width: calc(50% - 50px);
    padding-bottom: 40%;
  }

  &__image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: url(#imageIntro__maskClip);
    -webkit-clip-path: url(#imageIntro__maskClip);
  }

  &__content {
    width: 50%;
    margin-left: 50px;
    padding: 108px 0 0;
  }

  &__heading {
    margin: 0 0 30px;

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }
    }
  }

  &__text {
    max-width: 600px;
    @include fadeIn;
    transition-delay: 0.3s;
  }

  &--noImage {
    .imageIntro__content {
      width: 100%;
      max-width: 750px;
      padding: 50px 0 0;
      margin: 0 auto;
      text-align: center;
    }
    .imageIntro__text {
      max-width: none;
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .imageIntro {
    padding: 164px 0 100px;

    &__imageHolder {
      width: 100%;
      padding-bottom: 70%;
    }

    &__content {
      width: 100%;
      margin-left: 0;
      padding: 38px 0 0;
      text-align: center;
    }

    &__text {
      margin: 0 auto;
      @include font-size(22px);
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .imageIntro {

    &__imageHolder {
      left: -20px;
      min-width: calc(100% + 40px);
      padding-bottom: 82%;
    }

    &__heading {
      max-width: 270px;
      margin: 0 auto 38px;
      @include font-size(44px);
    }

    &__text {
      @include font-size(16px);
    }

  }
}