.introPost {
  padding: 142px 0 134px;

  &__subscribe {
    left: 50%;
    width: 50%;
    max-width: 525px;
    margin: 0 0 140px;

    input[type="email"] { 
      width: 100%;
    }

    input[type="submit"] {
      position: absolute;
      top: 53px;
      right: 10px;
      width: 50px; 
      height: 47px;
      padding: 0; 
      border-radius: 8px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23fff'/%3E%3C/svg%3E");
      background-size: 24px;
      background-position: center;
      background-repeat: no-repeat;
    }

    p {
      margin: 0 0 18px;
    }

    .success-msg h2 {
      @include font-size(26px);
    }
  }

  &__back {
    top: -26px;
    left: 50px;
  }

  &__imageHolder {
    display: inline-block;
    width: calc(50% - 50px);
    padding-bottom: calc((50% - 50px) * 0.7);
    border-radius: 15px;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
    overflow: hidden; 

    .wp-post-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease-out;
    }
  }

  a.introPost__imageHolder:hover .wp-post-image {
    transform: scale(1.1);
  }

  &__content {
    width: 50%;
  }

  &__author {
    width: 38.5%;
  }
  
  &__heading {
    display: inline-block;
    margin: 24px 0 48px;

    &:hover h1 {
      text-decoration: underline;
    }
  }

  &__button {
    width: 200px;
    text-align: center;
  }

  &__share {
    margin: 6px 0 0;
  }
  
  &__share p {
    margin-right: 28px;
  }
  
  &__shareLink {
    height: 20px;
    margin-right: 16px;

    svg {
      height: 100%;
      width: auto;
    }
  }

  &__bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    background: $yellow;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 80px));
  }

  &--single {
    padding: 214px 0 134px;

    .introPost__heading {
      margin: 44px 0 48px;
    }
    
    .introPost__bg {
      height: 67.5%;
      background: $blue;

      &--red { background: $red; }
      &--yellow { background: $yellow; }
      &--blue { background: $blue; }
      &--green { background: $green; }
      &--pink { background: $pink; }
    }
  }

}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .introPost {

    &__heading,
    &__heading h1 {
      @include font-size(70px);
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .introPost {

    &__subscribe {
      width: 100%;
      left: 0;
      text-align: center;
      max-width: none;
      margin: 0 0 50px;
    }

    &__imageHolder {
      width: 100%;
      padding-bottom: calc(100% * 0.7);
    }

    &__content {
      width: 100%;
      margin: 20px 0 0;
    }

    &__meta {
      display: none;
    }

    &__heading,
    &__heading h1 {
      @include font-size(60px);
    }

    &__bg {
      height: 100%;
    }
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .introPost {
    padding: 118px 0 134px;

    &__subscribe p {
      max-width: 200px;
      margin: 0 auto 14px;
      @include font-size(14px);
    }

    &__subscribe input[type="email"] {
      padding: 18px;
    }

    &__subscribe input[type="submit"] {
      right: 6px;
      width: 42px;
      height: 40px;
      top: 60px;
    }

    &__date {
      @include font-size(14px);
    }

    &__heading {
      margin: 12px 0 20px;
    }

    &__heading,
    &__heading h1 {
      @include font-size(34px);
    }

    &__bg {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 25px));
    }

  }
}