.introSlider {
  padding: 160px 0;

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    .introSlider__content {
      opacity: 1;
    }

    .introSlider__text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__imageHolder {
    width: 50%;
    padding-bottom: 39%;
  }

  &__image {
    top: 0;
    left: 0;
    width: calc(100% + 123px);
    height: 100%;
    object-fit: cover;
    clip-path: url(#introSlider__maskClip);
    -webkit-clip-path: url(#introSlider__maskClip);
  }

  &__content {
    width: 50%;
    padding: 122px 50px 0 0;
    opacity: 0;
  }

  &__text {
    @include fadeIn;
    transition-delay: 0.3s;
  }

  &__heading {
    margin: 0 0 34px;

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }
    }
  }

  &__sliderHolder {
    width: 450px;
    bottom: -50px;
    right: 50px;
  }

  &__slider {
    outline: none;

    .flickity-viewport {
      transition: height 0.3s;
    }
  }

  &__item {
    width: 100%;
    background: #fff;
    border-radius: 14px;
    padding: 50px 50px 56px;
    box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.19);
  }

  &__author {
    flex-direction: column;
    padding-left: 150px;
    margin: 0 0 32px;
  }

  &__logo {
    position: absolute;
    top: 4px;
    left: 0;
    width: 100px;
    height: auto;
    object-fit: cover;
  }

  &__controls {
    width: 100%;
    padding: 0 50px;
    margin: 50px 0 0;

    .flickity-prev-next-button {
      width: 50px;
      height: 47px;
      background: #fff;
      border: 0;
      padding: 0;
      border-radius: 8px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      transition: opacity 0.3s;
  
      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
        position: absolute;
        top: calc(50% - 4px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 11px;
      }
  
      &.previous:after {
        transform: translate(-50%, -50%) scaleX(-1);
      }
  
      &:disabled {
        opacity: 0.5;
      }
  
      .flickity-button-icon {
        display: none;
      }
    }
  }

  &__dot {
    width: 12px;
    height: 12px;
    margin: 0 22px;
    border-radius: 50%;
    background: $black;
    opacity: 0.25;
    transition: opacity .3s;

    &.active {
      opacity: 1;
    }
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .introSlider {

    &__sliderHolder {
      width: 400px;
      right: 0;
    }

    &__quote {
      @include font-size(22px);
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .introSlider {
    padding: 226px 0 400px;

    &__content {
      width: 100%;
      padding: 0 0 90px;
    }

    &__text {
      @include font-size(22px);
    }

    &__imageHolder {
      width: 100%;
      padding-bottom: 79%;
    }
  
    &__image {
      width: 100%;
    }

    &__sliderHolder {
      width: calc(100% - 100px);
      right: auto;
      top: calc(100% - 50px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .introSlider {

    &__sliderHolder {
      width: 100%;
    }

  }
}

// ------------------------------------------------- //

// < 600px
@include breakpoint(s) {
  .introSlider {
    padding: 145px 0 500px;

    &__imageHolder {
      min-width: calc(100% + 52px);
      left: -26px;
    }

    &__sliderHolder {
      width: calc(100% - 52px);
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .introSlider {
    padding: 145px 0 380px;

    &__heading {
      @include font-size(44px);
    }

    &__text {
      @include font-size(16px);
    }

    &__item {
      text-align: center;
      padding: 30px 30px 62px;
    }

    &__author {
      padding: 0;
      margin: 0 0 22px;
      align-items: center;
    }

    &__logo {
      position: relative;
      margin: 0 0 20px;
    }

    &__name, 
    &__company {
      @include font-size(14px);
    }

    &__quote {
      @include font-size(16px);
    }

    &__controls {
      justify-content: center;
      margin: -38px 0 0;
    }

    &__controls .flickity-button {
      display: none;
    }

    &__dot {
      width: 7px;
      height: 7px;
      margin: 0 8px;
    }

  }
}