.introBasic {
  margin: 282px 0 114px;

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    .introBasic__content {
      opacity: 1;
    }

    .introBasic__text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    max-width: 750px;
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
  }

  &__heading {
    margin: 0 0 34px;

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }
    }
  }

  &__text {
    max-width: 600px;
    margin: 0 auto;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: transform 1s 0.3s, opacity 1s 0.3s;
  }
} 

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .introBasic {
    margin: 226px 0 114px;

    &__text {
      @include font-size(20px);
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .introBasic {
    margin: 226px 0 100px;

    &__content {
      padding: 0 45px;
    }

    &__heading {
      @include font-size(44px);
    }

    &__text {
      @include font-size(16px);
    }

  }
}