.nextPrev {
  display: none;
  background: #EDF3F7;
  padding: 90px 0 82px;
  clip-path: polygon(0 0, 100% 16px, 100% 100%, 0% 100%);
  margin: -16px 0 0;

  // < 500px
  @include breakpoint(xs) {
    display: block;
  }

  &__link {
    width: calc(50% - 22px);

    h2 {
      text-decoration: underline;
      margin: 14px 0 0;
    }
  }
}