.partners {

  &__heading {
    margin: 0 0 60px;
  }

  &__item {
    width: calc(33.33% - 66.67px);
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 100px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  &__logo {
    height: 85px;

    img {
      width: 100%;
      max-width: 250px;
      max-height: 85px;
      object-fit: cover;
    }
  }

  &__text {
    margin: 38px 0 40px;
  }

  &__button {
    margin-top: auto;
  }

}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .partners {

    &__item {
      width: 100%;
      margin: 0 0 80px;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .partners {

    &__logo {
      height: auto;
    }

    &__logo img {
      max-width: 175px;
      max-height: 80px;
    }

    &__text {
      max-width: 200px;
      margin: 22px 0 20px;
      @include font-size(14px);
    }

  }
}