.posts {

  &__filters {
    margin: 0 0 124px;
  }

  &__select {
    width: calc(50% - 50px);
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
  }

  .searchform {
    width: calc(50% - 50px);
  }

  &__item {
    width: calc(50% - 50px);
    margin: 0 0 154px;
  }

  &__imageHolder {
    display: inline-block;
    width: 100%;
    padding-bottom: 70%;
    border-radius: 15px;
    margin: 0 0 56px;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black);

    &:hover .wp-post-image {
      transform: scale(1.1);
    }

    .wp-post-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s ease-out;
    }
  }

  &__heading {
    display: inline-block;

    &:hover h2 {
      text-decoration: underline;
    }
  }

  &__excerpt {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin: 30px 0 40px;
  }

  &__button {
    width: 200px;
    text-align: center;
  }

  &__play {
    width: 100px;
    height: 100px;
  }

  &__pagination {
    margin: 0 0 200px;

    .page-numbers {
      width: 54px;
      height: 51px;
      border-radius: 8px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      line-height: 48px;
      margin: 0 6px;
      text-align: center;
      @include font-size(24px);
      transition: background 0.3s, color 0.3s;

      &:hover {
        background: $black;
        color: $white;
      }

      &.dots {
        background: transparent;
        box-shadow: none;

        &:hover {
          background: transparent;
          color: $black;
        }
      }

      &.current {
        background: $black;
        color: $white;
      }

      &.prev,
      &.next {
        position: relative;
        font-size: 0;

        &:hover:after {
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23fff'/%3E%3C/svg%3E");
        }

        &:after {
          content: '';
          background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 24px;
          height: 11px;
        }
      }

      &.prev:after {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }
  }

  &--page {
    padding: 180px 0 0;
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .posts {

    &__select {
      width: calc(50% - 25px);
    }
  
    .searchform {
      width: calc(50% - 25px);
    }

    &__item {
      width: calc(50% - 25px);
    }

    &__heading h2 {
      @include font-size(28px);
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .posts {

    &__filters {
      margin: -34px 0 110px;
    }

    &__select {
      width: 100%;
      margin: 0 0 18px;
    }
  
    .searchform {
      width: 100%;
    }

    &__item {
      width: 100%;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .posts {

    &__select {
      padding: 16px;
      border-radius: 14px;
      background-size: 10px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 9'%3E%3Cpolygon points='0 0 5.5 9 11 0 0 0' style='fill:%23331f45'/%3E%3C/svg%3E");
    }

    .searchform input#s {
      padding: 16px;
      border-radius: 14px;
    }

    .searchform input#searchsubmit {
      width: 20px;
      height: 20px;
      right: 12px;
    }

    &__item {
      margin: 0 0 76px;
    }

    &__imageHolder {
      margin: 0 0 30px;
    }

    &__heading {
      margin: 0 0 24px;
    }

    &__heading h2 {
      @include font-size(24px);
    }

    &__excerpt {
      display: none;
    }

    &__play {
      width: 60px;
      height: 60px;
    }

    &__pagination .page-numbers {
      width: 34px;
      height: 34px;
      font-size: 16px;
      line-height: 34px;
    }

  }
}