.post {
  padding: 0 0 50px;

  .container {
    display: flex;
    flex-direction: column;
  }

  h1, h2, h3, h4, h5 {
    margin: 50px 0 25px;
  }

  h1 {
    @include font-size(36px);
  }

  h2 {
    @include font-size(32px);
  }

  h3 {
    @include font-size(30px);
  }

  h4 {
    @include font-size(28px);
  }

  h5 {
    @include font-size(24px);
  }
  
  p {
    margin: 0 0 44px;
    @include font-size(24px);
  }

  .wp-block-image {
    position: relative;
    display: inline-block;
    margin: 0 auto;

    img {
      max-width: 100%;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: -10px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 42.42 42.05'%3E%3Ccircle cx='23.91' cy='18.5' r='18.5' style='fill:%23fff'/%3E%3Ccircle cx='23.91' cy='18.5' r='17.5' style='fill:none;stroke:%23331e44;stroke-width:2px'/%3E%3Cline x1='23.91' y1='10.5' x2='23.91' y2='26.5' style='fill:none;stroke:%23331e44;stroke-linecap:round;stroke-width:2px'/%3E%3Cline x1='31.91' y1='18.5' x2='15.91' y2='18.5' style='fill:none;stroke:%23331e44;stroke-linecap:round;stroke-width:2px'/%3E%3Cline x1='11.05' y1='30.99' x2='1.41' y2='40.63' style='fill:none;stroke:%23331e44;stroke-linecap:round;stroke-width:2px'/%3E%3C/svg%3E");
      width: 41px;
      height: 40.63px;
      pointer-events: none;
    }
  }

  img + p,
  .wp-block-image + p {
    margin: 50px 0 44px;
  }

  a {
    color: $blue;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  ul { 
    list-style: disc;
    list-style-position: outside;
    padding-left: 20px;
    margin: 0 0 44px;
  }

  ol {
    list-style: decimal;
    list-style-position: outside;
    padding-left: 20px;
    margin: 0 0 44px; 
  }

  ul li,
  ol li {
    @include font-size(22px);
    margin: 6px 0;
  }

  ul li ul,
  ol li ol {
    padding-left: 30px;
  }

  blockquote {
    margin: 50px 0;
  }

  pre, code {
    display: inline-block;
    width: 100%;
    background: #F2F2F2;
    margin: 15px 0;
    padding: 15px 20px;
    font-family: 'Courier', monospace;
    @include font-size(20px);
    overflow-x: scroll;
  }

  pre code {
    display: inline;
    margin: 0 !important;
    padding: 0 !important;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    width: 100%;
    height: 400px;
  }

  &--basic {
    padding: 120px 0;
  }

}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .post iframe {
    height: 50vw;
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .post {

    h1, h2, h3, h4, h5 {
      margin: 40px 0 15px;
    }

    h1 {
      @include font-size(32px);
    }
  
    h2 {
      @include font-size(28px);
    }
  
    h3 {
      @include font-size(24px);
    }
  
    h4 {
      @include font-size(22px);
    }
  
    h5 {
      @include font-size(20px);
    }

    p {
      margin: 0 0 24px;
      @include font-size(16px);
    }

    ul li,
    ol li {
      @include font-size(16px);
    }

    pre {
      padding: 17px;
      @include font-size(14px);
    }

    iframe {
      height: 45vw;
    }

    &--basic {
      padding: 100px 0;
    }

  }
}