.pricing {
  background: $lightgrey;
  padding: 180px 0 200px;
  clip-path: polygon(0 0, 100% 65px, 100% 100%, 0% 100%);

  .featuresAlt + & {
    padding: 0 0 200px;
    clip-path: none;
  }

  &[data-pricing-peroid="yearly"] {
    .pricing__price--yearly {
      display: flex;
    }
  }

  &[data-pricing-peroid="monthly"] {
    .pricing__price--monthly {
      display: flex;
    }
  }

  &--single {
    background: $white;
    margin: -75px 0 0 !important;
    padding: 250px 0 100px !important;
    clip-path: polygon(0 75px, 100% 0, 100% 100%, 0 100%);
    .pricing__header {
      margin: 0;
    }
    .pricing__panel {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start; 
      justify-content: space-between;
      width: calc(66.66% - 116px); 
      margin: -59px 50px 0 auto;
      border-radius: 17px;
      padding: 0 50px 46px;
      overflow: hidden;
      background: #fff;
    }
    .pricing__title {
      padding: 32px 0;
      left: -50px;
      min-width: calc(100% + 100px);
    }
    .pricing__bg {
      display: block;
    }
    .pricing__features,
    .pricing__prices {
      width: calc(50% - 75px);
    }
    .pricing__features {
      margin: 36px 0 4px;
    }
    .pricing__price {
      margin: 50px auto 0;
      display: block;
      color: $black;
    }
    .pricing__button {
      margin: 30px 0 0;
      display: block;
    }
    .pricing__bg {
      height: 33%;
    }
  }

  &__header {
    padding-left: 100px;
    margin: 0 0 86px;

    @include breakpoint(l) {
      margin: 0 0 50px;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 50px);
    margin: 6px 50px 0 0;

    @include breakpoint(l) {
      flex-direction: row;
    }

    &:first-child {
      margin: 0 50px 0 0;
    }

    p {
      margin: 0 0 32px;

      &:last-child {
        margin: 0;
      }

      &.flex-end {
        margin: auto 0 0;
      }
    }

    .pricing-toggle {
      margin: auto 0 0;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      width: 100%;
      align-items: center;
      box-shadow: 3px 3px 12px 0px rgb(0 0 0 / 16%);
      .products-trigr & {
        display: none;
      }
      .item {
        width: 50%;
        &:nth-child(1) {
          label {
            border-radius: 16px 0 0 16px;
          }
        }
        &:nth-child(2) {
          label {
            border-radius: 0 16px 16px 0;
          }
        }
        label {
          font-size: 20px;
          background: $white;
          height: 64px;
          line-height: 64px;
          display: block;
          text-align: center;
          cursor: pointer;

          @include breakpoint(s) {
            height: 54px;
            line-height: 54px;
            font-size: 18px;
          }
        }
        input {
          display: none;
        }
        input:checked + label {
          background: $black;
          color: $white;
        }
      }
    }

    &.fs--24 p {
      @include font-size(24px);
    }

    select {
      width: 100%;
      margin: auto 0 0;
      box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
    }

    .button {
      @include font-size(20px);
      padding: 16px 22px;
      width: 100%;
      border-radius: 17px;
      color: $black;
      margin: auto 0 0;
      border: 2px solid $black;
      background-color: transparent;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 24.5'%3E%3Cpolygon points='6.5 15.5 6.5 0 4.5 0 4.5 15.5 0 15.5 5.5 24.5 11 15.5 6.5 15.5' style='fill:%23331e44'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 11px;
      background-position: calc(100% - 30px) 50%;

      &:hover {
        color: $white;
        background: $black;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 24.5'%3E%3Cpolygon points='6.5 15.5 6.5 0 4.5 0 4.5 15.5 0 15.5 5.5 24.5 11 15.5 6.5 15.5' style='fill:%23ffffff'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 11px;
        background-position: calc(100% - 30px) 50%;
      }

      @include breakpoint(l) {
        display: none;
      }
    }
  }

  &__heading {
    margin: 0 0 74px;
  }

  &__main {
    position: relative;
    z-index: 5;

    &:before {
      @include breakpoint(xxl) {
        content: '';
        position: absolute;
        top: -30px;
        right: calc(100% - 200px);
        width: 400px;
        height: calc(100% + 30px);
        background: $lightgrey;
        z-index: 3;
      }
      @include breakpoint(s) {
        right: calc(100% - 140px);
      }
    }

    &:before {
      /*
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 180px;
      height: 100%;
      background: $lightgrey;
      z-index: 3;

      @include breakpoint(s) {
        width: 120px;
      }
      */
    }

    &:after {
      /*
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 150px;
      background: linear-gradient(90deg, rgba(245,245,246,0) 0%, rgba(245,245,246,1) 100%);
      height: 100%;
      z-index: 3;

      @include breakpoint(s) {
        display: none;
      }
      */
    }
  }

  &__noslide {
    display: flex;
    padding-left: 200px;
    outline: none;
    .flickity-slider {
      height: 100%;
    }
    &:after {
      content: '';
    }
    @include breakpoint(xxl) {
      margin: 0 0 0 200px;
      padding-left: 0;
      flex-direction: column;
      &:after {
        content: 'flickity';
        display: none;
      }
      @include breakpoint(s) {
        margin: 0 0 0 140px;
      }
    }
  }

  &__slider {
    padding-left: 200px;
    outline: none;
    overflow: hidden;

    @include breakpoint(s) {
      padding-left: 120px;
      min-width: calc(100% + 50px);
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 180px;
      width: 20px;
      height: 100%;
      background: linear-gradient(-90deg, rgba(245,245,246,0) 0%, rgba(245,245,246,1) 100%);
      z-index: 3;

      @include breakpoint(s) {
        display: none;
      }
    }

    .flickity-slider {
      height: 100%;
    }
  }

  &__itemWrap {
    display: flex;
    flex: 1;
    min-height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 16px 16px 0 0;

    @include breakpoint(xxl) {
      width: calc(50% - 11px);
      // width: 100%;
      margin: 0 11px;
      border-radius: 17px;
      overflow: hidden;
    }

    @include breakpoint(m) {
      width: 100%;
    }

    &:last-child {
      .pricing__rows {
        &:after {
          display: none;
        }
      }
    }

    &.most-popular .pricing__rowsItem svg {
      stroke: currentColor;
    }

    &.most-popular .pricing__rowsItem p {
      color: currentColor;
    }

    &.most-popular {
      @include breakpoint(xxl) {
        top: -20px;
      }
    }

    &:first-child .pricing__rows {
      border-radius: 0 0 0 16px;
    }

    &:last-child .pricing__rows {
      border-radius: 0 0 16px 0;
    }
  }

  &__item {
    // width: 200px;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    background: $white;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;

    @include breakpoint(xxl) {
      height: 90px;
    }

    &.most-popular {
      height: 150px;

      @include breakpoint(xxl) {
        height: 110px;
      }
    }

    &:not(.most-popular) {
      background: $black !important;
    }
  }

  &__panel {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: calc(66.66% - 116px);
    margin: -59px 50px 0 auto;
    border-radius: 17px;
    padding: 0 50px 46px;
    overflow: hidden;
    background: $white;
  }

  &__title {
    font-size: 24px;
    padding: 14px 0;

    @include breakpoint(xxl) {
      padding: 0 0 4px;
    }
  }

  &__popular {
    display: inline-block;
    position: relative;
    top: 10px;
    font-size: 18px;
    color: $white;

    @include breakpoint(xxl) {
      top: -3px;
    }
  }

  &__features {
    margin: 16px 0 34px;

    li {
      padding: 12px 0;
      border-bottom: 1px solid $black;
    }
  }

  &__prices[data-currency="usd"] [data-currency="gbp"],
  &__prices[data-currency="usd"] [data-currency="eur"] {
    display: none;
  }

  &__prices[data-currency="gbp"] [data-currency="usd"],
  &__prices[data-currency="gbp"] [data-currency="eur"] {
    display: none;
  }

  &__prices[data-currency="eur"] [data-currency="usd"],
  &__prices[data-currency="eur"] [data-currency="gbp"] {
    display: none;
  }

  &__price {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: $white;

    span {
      font-family: $f--head;
      @include font-size(20px);
    }
    
    p {
      @include font-size(18px);
    }
  }

  &__button {
    width: 100%;
    margin: 20px 0 0;
    text-align: center;
    display: none;

    @include breakpoint(xxl) {
      // display: block;
    }
  }

  &__controls {
    margin: 20px 0 0;
    justify-content: center;
    display: none;
    z-index: 4;

    @include breakpoint(xxl) {
      display: flex;
    }

    .flickity-prev-next-button {
      width: 50px;
      height: 47px;
      background: #fff;
      border: 0;
      padding: 0;
      border-radius: 8px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      transition: opacity 0.3s;
  
      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
        position: absolute;
        top: calc(50% - 4px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 11px;
      }
  
      &.next {
  
      }
  
      &.previous:after {
        transform: translate(-50%, -50%) scaleX(-1);
      }
  
      &:disabled {
        opacity: 0.5;
      }
  
      .flickity-button-icon {
        display: none;
      }
    }
  }

  &__dots {
    margin: 0 28px;
    flex-wrap: nowrap;

    @include breakpoint(s) {
      margin: 0 16px;
    }
  }

  &__dot {
    width: 12px;
    height: 12px;
    margin: 0 22px;
    border-radius: 50%;
    background: $black;
    opacity: 0.25;
    transition: opacity .3s;

    @include breakpoint(m) {
      width: 7px;
      height: 7px;
      margin: 0 8px;
    }

    &.active {
      opacity: 1;
    }
  }

  &__label {
    display: none;
  }

  .pricing-lower-info {
    margin: 75px auto;
    max-width: 900px;
    width: 100%;
    text-align: center;
    p {
      color: $black;
    }
    .button {
      @include font-size(26px);
      font-weight: bold;
      text-align: center;
      padding: 16px 22px;
      width: 100%;
      border-radius: 17px;
      color: currentColor;
      max-width: 350px;
      margin: 30px auto 0;
      border: 2px solid currentColor;
      background-color: transparent;
      transition: background 0.3s;
      span {
        transition: color 0.3s;
      }
      &:hover {
        background: currentColor;
        span {
          color: $white;
        }
      }
      @include breakpoint(xxl) {
        // display: none;
      }
    }
  }

  &__rows {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background: $white;

    @include breakpoint(xxl) {
      padding: 16px 30px 30px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 18px;
      right: 0;
      height: calc(100% - 36px);
      width: 1px;
      background: #E2E2E2;
      @include breakpoint(xxl) {
        display: none;
      }
    }

    svg {
      width: auto;      
      height: 18px; 
    } 
  }

  &__rowsItem {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include breakpoint(xxl) {
      height: 100px;
    }

    @include breakpoint(s) {
      // height: 44px;
    }
    .mobile-text {
      display: none;
      @include breakpoint(xxl) {
        // display: block;
      }
    }
    p {
      color: $black;
      @include breakpoint(xxl) {
        &:not(.mobile-text) {
          // display: none;
        }
      }
      @include breakpoint(s) {
        font-size: 18px;
      }
    }

    svg {
      stroke: $black;
      /*
      @include breakpoint(xxl) {
        display: none;
      }
      */
    }
  }

  &__products {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;

    @include breakpoint(xxl) {
      // display: none;
      padding: 0 0 40px;
    }

    @include breakpoint(s) {
      width: 140px;
    }

    // @include breakpoint(l) {
    //   position: relative;
    //   display: flex;
    //   width: 100%;
    //   bottom: auto;
    //   left: auto;
    //   padding: 0 0 0 140px;
    // }
  }

  &__product {
    position: relative;
    @include breakpoint(s) {
      // height: 300px;
    }
  }
  .product-price-inner {
    height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px 0 0;

    @include breakpoint(xxl) {
      height: 100px;
    }
    /*
    @include breakpoint(l) {
      display: block;
      height: auto;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-origin: left center;
      transform: rotate(-90deg);
      white-space: nowrap;
    }
    */
  }
  &__productTitle {
    font-size: 30px;
    margin: 0 0 4px;

    @include breakpoint(xxl) {
      font-size: 24px;
    }
  }

  &__productText {
    font-size: 16px;

    &.open-tooltip {
      cursor: pointer;
    }

    &.js-open + .pricing__tooltip {
      opacity: 1;
      pointer-events: auto;
    }

    &.js-open .icon {
      background: $black;

      &:before,
      &:after {
        background: $white;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 14px;
      height: 14px;
      top: 2px;
      left: 6px;
      border-radius: 50%;
      border: 1px solid $black;
      transition: background 0.3s;
      z-index: -1;
  
      &:before,
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 7px;
        height: 1px;
        border-radius: 1px;
        background: $black;
        transform: translate(-50%, -50%);
        transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), background 0.3s;
      }
  
      &:after {
        transform: translate(-50%, -50%) rotate(-90deg);
      }

      @include breakpoint(l) {
        // display: none;
      }
    }

    @include breakpoint(xxl) {
      font-size: 12px;
    }
  }

  &__tooltip {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    min-width: 280px;
    border-radius: 16px;
    background: $white;
    padding: 20px 20px 20px 40px;
    box-shadow: 3px 3px 12px 0px rgba(0, 0, 0, 0.16);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    z-index: 2;

    &:before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.63 28.63'%3E%3Crect x='3.31' y='3.31' width='22' height='22' rx='3' transform='translate(-5.93 14.31) rotate(-45)' style='fill:%23fff'/%3E%3C/svg%3E");
      position: absolute;
      top: -5px;
      left: 72px;
      width: 22px;
      height: 22px;
    }

    ul {
      list-style: disc;
    }

    li, p {
      font-size: 16px;
      @include breakpoint(s) {
        font-size: 14px;
      }
    }

    .button {
      margin: 15px 0 0 -20px;
      font-size: 0.8rem;
      padding: 9px 18px;
    }
  }
  
  &__bg {
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 42%;
    clip-path: polygon(0 75px, 100% 0, 100% 100%, 0 100%);
    display: none;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .pricing {

    &__header {
      padding-left: 0;
    }

    &__column {
      width: calc(50% - 50px);
      margin: 6px 50px 0 0;
  
      &:last-child {
        display: none;
      }
    }

    &--single {
      .pricing__panel {
        width: 100%;
        margin: 50px 0 0;
      }
      .pricing__column:last-child {
        display: block;
      }
      .pricing__price {
        margin: 30px auto 0;
      }
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .pricing {

    &__column {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin: 0;

      &:first-child {
        margin: 0;
      }

      select {
        width: 33.33%;
      }
    }

    &__column:nth-child(2) {
      margin: 34px 0 0;
      
      p {
        width: 100%;
        @include font-size(22px);
      }
      p:last-child {
        display: none;
      }
    }

    &__heading {
      width: 66.66%;
      margin: 0;
    }

    &__controls {
      width: 100%;
      justify-content: space-between;
      flex-wrap: nowrap;
    }

    &__label {
      display: block;
      text-align: center;
      margin: 42px 0 0;
    }

    &__bg {
      height: 48%;
      clip-path: polygon(0 0, 100% 25px, 100% 100%, 0% 100%);
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .pricing {

    &--single {
      .pricing__features,
      .pricing__prices {
        width: 100%;
      }
    }
    
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .pricing {
    padding: 120px 0 70px;
    clip-path: polygon(0 0, 100% 30px, 100% 100%, 0% 100%);

    &__heading {
      @include font-size(46px);
    }

    &__column:nth-child(2) {
      text-align: center;
    }

    &__column:nth-child(2) p {
      @include font-size(16px);
    }

    &__column select {
      padding: 16px;
      border-radius: 17px;
    }

    &__features {
      margin: 18px 0 24px;
    }

    &__features li {
      padding: 6px 0;
      @include font-size(14px);
    }

    &__label {
      @include font-size(16px);
    }

    &--single {
      padding: 70px 0 40px !important;
    }
  }
}

.pricing--single .pricing__panel.update {
  .pricing__features {
    width: 40%;
  }
  .pricing__prices.pricing__options {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;

    > div {
      width: 46%;
    }
  }
}

