.productIntro {
  padding: 284px 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 85px));

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    
    .productIntro__text,
    .productIntro__powered {
      opacity: 1;
      transform: translateY(0);
    }

    .sidebar {
      opacity: 1;
    }

    .productIntro__content {
      opacity: 1;
    }
  }

  &__content {
    width: 61.53%;
    margin-left: auto;
    padding-right: 100px;
  }

  &__heading .line {
    transition: transform 1s, opacity 1s;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s);
      }
    }
  }

  .sidebar {
    transition: opacity 1s 0.5s;
  }

  &__text,
  &__powered {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }

  .sidebar {
    opacity: 0;
  }

  &__text {
    margin: 32px 0 0;
    max-width: 600px;
    transition: transform 1s 0.3s, opacity 1s 0.3s;
  }

  &__powered {
    margin: 24px 0 0;
    transition: transform 1s 0.5s, opacity 1s 0.5s;

    img {
      width: 135px;
      height: auto;
      margin-left: 10px;
    }
  }

  &__statistic {
    display: inline-block;
    margin: 172px 0 0;

    &.is-inview svg.statistic-sketch {
      transform: scale(1);
    }

    svg.statistic-sketch {
      position: absolute;
      width: 617px;
      height: auto;
      top: -114px;
      left: -98px;
      transform: scale(0);
      transition: transform 0.6s 1.8s cubic-bezier(0.46, 1.87, 0.19, 0.97);
      pointer-events: none;
    }
  }

  &--filer {
    padding: 284px 0 240px;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .productIntro {

    &__content {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .productIntro {
    padding: 220px 0;

    &__content {
      width: 100%;
      padding: 0;
    }

    &__text {
      @include font-size(22px);
    }

    &__statistic {
      text-align: center;
      width: 100%;

      &.is-inview svg.statistic-sketch {
        transform: scale(1) translateX(-50%);
      }
  
      svg.statistic-sketch {
        left: 50%;
        transform: scale(0) translateX(-50%);
        transform-origin: 50% 50%;
      }
    }

    &--filer {
      padding: 220px 0 200px;
    }
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .productIntro {
    padding: 220px 0 150px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 30px), 0% 100%);

    &__heading {
      @include font-size(44px);
    }

    &__text {
      @include font-size(16px);
    }

    &__powered {
      margin: 16px 0 0;
    }

    &__powered p {
      @include font-size(14px);
    }

    &__statistic {
      margin: 105px 0 0;

      span {
        @include font-size(60px);
      }

      p {
        @include font-size(16px);
      }

      svg.statistic-sketch {
        top: -84px;
        width: 419px;
      }
    }

    &--filer {
      padding: 220px 0 150px;
    }

  }
}