.products {
  padding: 94px 0 240px;

  &__heading {
    padding-left: 100px;
    max-width: 500px;
    margin: 0 0 104px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 100px 25px;

    &--3 .products__item,
    &--5 .products__item,
    &--6 .products__item {
      width: calc(33.33% - 16.66px);
    }

    &--4 .products__item,    
    &--7 .products__item,    
    &--8 .products__item {
      width: calc(25% - 19px);
    }

  }

  &__item {
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 148px;
    height: auto;
  }

  &__title {
    margin: 40px 0 30px;
  }

  &__text {
    margin: 0 0 auto;
  }

  &__button {
    margin: 24px 0 0;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .products {

    &__heading {
      padding-left: 50px;
    }

    &__title {
      @include font-size(30px);
    }

    &__list {
      &--3 .products__item,
      &--4 .products__item,
      &--5 .products__item,
      &--6 .products__item,
      &--7 .products__item,
      &--8 .products__item {
        width: calc(50% - 12.5px);
      }
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .products {
    padding: 116px 0 128px;

    &__heading {
      padding: 0; 
      max-width: none;
      text-align: center;
    }

    &__list {
      &--3 .products__item,
      &--4 .products__item,
      &--5 .products__item,
      &--6 .products__item,
      &--7 .products__item,
      &--8 .products__item {
        width: 100%;
      }
    }

    &__item {
      margin: 0 auto;
      max-width: 600px;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .products {

    &__heading {
      margin: 0 0 64px;
      @include font-size(46px);
    }

    &__title {
      margin: 32px 0 22px;
    }

  }
}