.productVideo {
  padding: 168px 0 0;

  &--module {
    padding: 100px 0;

    @include breakpoint(s) {
      padding: 75px 0 !important;
    }

    .productVideo__content {
      width: 100%;
      padding: 0;
    }
  }

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__content {
    width: 61.53%;
    margin-left: auto;
    padding-right: 100px;
  }

  &__heading {
    margin: 0 0 50px;

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        } 
      }
    }
  }

  &__embed {
    width: 100%;
    position: relative;
    &:before {
      padding: 0 0 56.25%;
      content: ' ';
      display: block;
    }
    video,
    embed,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 16px;
    }
  } 

  &__detail {
    margin: 46px 0 78px;
    @include fadeIn;
  }


}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .productVideo {

    &__content {
      width: calc(100% - 200px);
      padding-right: 0;
      padding-left: 50px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .productVideo {

    &__content {
      width: 100%;
      padding-left: 0;
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .productVideo {

    &__heading {
      text-align: center;
      width: 100%;
      max-width: 650px;
      margin: 0 auto 116px;
      @include font-size(36px);
    }

  }
}

// ------------------------------------------------- //

// < 600px
@include breakpoint(s) {
  .productVideo {
    padding: 148px 0 0;

    &__heading {
      @include font-size(24px);
      max-width: 340px;
      margin: 0 auto 66px;
    }

  }
}

// < 500px
@include breakpoint(xs) {
  .productVideo {
    &__detail {
      margin: 32px 0 0;
      font-size: 16px;
      line-height: 1.45em;
    }
  }
}