.relatedPosts {
  background: #EDF3F7;
  padding: 136px 0 0;
  margin: -60px 0 0;
  clip-path: polygon(0 0, 100% 60px, 100% 100%, 0 100%);

  // < 500px
  @include breakpoint(xs) {
    display: none;
  }

  &__heading {
    margin: 0 0 64px;
  }
}