.serviceTabs {
  background: $yellow;
  max-width: 1300px;
  margin: 186px auto 362px;
  padding: 120px 50px 66px 100px;
  width: calc(100% - 100px);
  border-radius: 12px 12px 0 0;
  transition: clip-path 0.4s cubic-bezier(0.2, 1, 0.8, 1);
  z-index: 2;

  &.is-inview .container {
    opacity: 1;
    transform: translateY(0);
  }

  .container {
    opacity: 0;
    transform: translateY(100px);
    transition: transform .6s, opacity .6s;
  }

  &__header {
    margin: 0 0 62px;
  }

  &__heading {
    width: 34.8%;
    margin: 4px 0 0;
  }

  &__tabs {
    width: 65.2%;
  }

  &__tab {
    width: 20%;
    margin-right: 4.34%;
    margin-right: 50px;
    line-height: 1.3;
    outline: none;

    &:last-child {
      margin-right: 0;
    }

    &.active .serviceTabs__arrow svg {
      transform: translateX(0);
    }
  }

  &__arrow {
    top: 10px;
    left: -36px;
    width: 24px;
    height: 11px;
    overflow: hidden;
    
    svg.arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      fill: $black;
      transform: translateX(-100%);
      transition: transform .4s cubic-bezier(.65,.05,.36,1);
    }
  }

  &__slide {
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(50px);
    transition: transform 0.45s, opacity 0.45s;

    &.active {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
      transition: transform 0.45s 0.25s, opacity 0.45s 0.25s;
    }

    &:first-child {
      position: relative;
    }
  }

  &__title {
    width: 50%;
    padding-right: 50px;
  }

  &__text {
    width: 50%;
    padding: 20px 100px 0 25px;

    p {
      margin: 0 0 28px;
    }
  }

  &__button {
    margin: 10px 0 0;
  }

  svg.services-clip {
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateY(100%);
  }

  img.services-sketch {
    position: absolute;
    width: 367px;
    height: auto;
    bottom: -77px;
    left: 200px;
  }

  &--full {
    max-width: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    padding: 190px 50px 66px 100px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    &.is-inview {
      clip-path: polygon(0 50px, 100% 0, 100% 100%, 0% 100%);
    }

    svg.services-clip {
      display: none;
    }

    img.services-sketch {
      bottom: -67px;
    }
  }
}

// ------------------------------------------------- //

// < 1400px
@include breakpoint(xxxl) {
  .serviceTabs {
    padding: 100px 50px 66px 50px;

    &__heading {
      width: 17.4%;
    }

    &__tabs {
      width: 82.6%;
    }

    &__title {
      @include font-size(70px);
    }

    &__text {
      padding: 20px 0 0 0; 
    }

    &--full {
      padding: 190px 0 66px 0;
    }

  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .serviceTabs {
    margin: 186px auto 200px;

    &__tabs {
      width: 100%;
      margin: 34px 0 0;
      justify-content: flex-start;
    }

    &__title {
      padding-right: 25px;
      @include font-size(56px);
    }

    &__text {
      width: 100%;
    }

    &--full {
      margin: 0;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .serviceTabs {
    width: 100%;
    border-radius: 0;
    padding: 100px 50px 120px 50px;
    margin: -40px auto 100px;
    clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 calc(100% - 60px));

    &__tabs {
      display: none;
    }

    &__heading {
      width: 100%;
      font-family: $f--head;
      font-weight: 900;
      text-transform: none;
      letter-spacing: -0.01em;
      @include font-size(60px);
    }

    &__slide {
      position: relative;
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
      overflow: hidden;
    }

    &__title {
      width: 100%;
      padding: 22px 0 28px 50px;
      font-family: $f--body;
      @include font-size(24px);
      border-top: 1px solid $black;
      cursor: pointer;

      &.open + .serviceTabs__text {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
      }

      &.open:after {
        transform: rotate(0);
      }

      &:before,
      &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 32px;
        width: 20px;
        height: 2px;
        border-radius: 1px;
        background: $black;
        transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
      }

      &:after {
        transform: rotate(-90deg);
      }
    }

    &__text {
      width: 100%;
      padding: 0 0 50px 50px;
      opacity: 0;
      pointer-events: none;
      transform: translateY(-25px);
      transition: transform .6s, opacity .3s;
    }

    svg.services-clip {
      display: none;
    }
    
    img.services-sketch {
      top: 90px;
      right: -50px;
      bottom: auto;
      left: auto;
      width: 300px;
    }

    &--full {
      padding: 100px 0 120px 0;
      margin: 0;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .serviceTabs {
    padding: 100px 45px;
    margin: -40px auto 60px;
    clip-path: polygon(0 35px, 100% 0, 100% 100%, 0 calc(100% - 25px));

    &__header {
      margin: 0 0 24px;
    }

    &__heading {
      @include font-size(46px);
    }

    &__title {
      padding: 14px 50px 26px 50px;
      line-height: 1.11;
      @include font-size(18px);

      &:before,
      &:after {
        width: 18px;
        top: 22px;
      }
    }

    &__text p {
      margin: 0 0 20px;
      @include font-size(14px);
    }

    &__button {
      margin: 4px 0 0;
    }

    img.services-sketch {
      width: 212px;
      top: 120px;
      right: -68px;
    }

    &--full {
      padding: 100px 0;
      margin: 0;
    }

  }
}