.sidebar {
  top: 258px;
  left: 0;
  right: 0;
  pointer-events: none;

  &__content {
    width: 200px;
    left: 100px;
    pointer-events: auto;
  }

  &__icon {
    width: 100%;
    height: auto;
    margin: 0 0 36px;
    opacity: 0;
    transition: opacity 0.3s;
    
    &.replaced-svg {
      opacity: 1;
    }
  }

  &__button {
    margin: 26px 0 0;

    span {
      position: relative;
      z-index: 2;
      transition: color 0.3s;
    }

    &:hover span {
      color: $white;
    }

    &:hover div {
      opacity: 1;
    }

    div {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      transition: opacity 0.3s;
    }
  }

  &--intro {
    .sidebar__icon #icon-colour,
    .sidebar__icon [data-name="icon-colour"] {
      fill: #fff !important;
    }
  }

}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .sidebar {
    &__content {
      left: 0;
      width: 150px;
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .sidebar {
    display: none;

    .container {
      padding: 0;
      text-align: left;
    }

    &__button {
      display: none;
    }

    &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 128px;
      height: auto;
    }

    &__content {
      width: 100%;
      padding: 24px 0 0 150px;
    }

    &--intro {
      display: block;
      position: relative;
      top: 0;
      height: 112px;
      width: 100%;
      max-width: 350px;
      margin: 38px 0;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .sidebar {

    &__title,
    &__text {
      @include font-size(16px);
    }

  }
}