.solutions {
  padding: 170px 0;
  background: $yellow;

  &__heading {
    @include fadeIn;
  }

  &__subheading {
    @include fadeIn;
    transition-delay: 0.2s;
  }

  &__intro { 
    @include fadeIn;
    transition-delay: 0.4s;
  }

  &__imageHolder {
    top: -380px;
    right: calc(65.4% + 70px);
    width: 534px;
    height: 701.92px;
  }

  &__image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    clip-path: url(#solutions__maskClip);
    -webkit-clip-path: url(#solutions__maskClip);
  }
  
  &__main {
    width: 65.4%;
    margin-left: auto;
  }

  &__subheading {
    margin: 38px 0 28px;
  }

  &__list {
    margin: 84px 0 0;
  }
  
  &__item {
    margin: 0 0 66px;

    &.is-inview .solutions__title,
    &.is-inview .solutions__text,
    &.is-inview .solutions__cta {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__title, &__text, &__cta {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: transform 0.8s, opacity 0.8s;

    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.08s);
      }
    }
  }

  &__cta {
    width: 200px;
  }

  &__ctaIcon {
    width: 100%;
    height: auto;
    margin: 0 0 24px;
  }

  &__ctaButton {
    width: 100%;
    margin: 30px 0 0;
  }

  &__content {
    width: calc(100% - 200px);
    padding-left: 150px;
  }

  &__title {
    margin: 16px 0 20px;
  }

  &__icon,
  &__button {
    display: none;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .solutions {

    &__imageHolder {
      height: 540px;
      top: -250px;
    }

    &__heading {
      @include font-size(70px);
    }

    &__subheading {
      @include font-size(28px);
    }

    &__intro,
    &__text {
      @include font-size(22px);
    }

    &__cta {
      display: none;
    }

    &__item {
      margin: 0 0 92px;
    }

    &__content {
      width: 100%;
      padding-left: 0;
    }

    &__title {
      margin: 30px 0 20px;
    }

    &__icon,
    &__button {
      display: inline-block;
    }

    &__icon {
      width: 127px;
      height: auto;
    }

    &__button {
      margin: 26px 0 0;
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .solutions {
    padding: 0 0 1px;

    &__imageHolder {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      margin: -175px 0 116px;
    }

    &__main {
      width: 100%;
    }

    &__heading {
      @include font-size(60px);
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .solutions {

    &__imageHolder {
      height: 388px;
    }

    &__heading {
      @include font-size(46px);
    }

    &__subheading {
      margin: 26px 0 18px;
    }

    &__subheading,
    &__title {
      @include font-size(24px);
    }

    &__intro,
    &__text {
      line-height: 1.43;
      @include font-size(16px);
    }

    &__list {
      margin: 120px 0 0;
    }


  }
}