.team {
  padding: 162px 0 78px;
  background: $lightgrey;
  clip-path: polygon(0 45px, 100% 0, 100% 100%, 0 calc(100% - 40px));

  &__heading {
    padding-left: 100px;
    max-width: 500px;
    margin: 0 0 80px;
    
    &.is-inview .line {
      opacity: 1; 
      transform: translate3d(0, 0, 0);
    }

    .line {
      transition: transform 1s, opacity 1s;
  
      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.1s);
        }
      }
    }
  }

  &__list {
    padding: 0 50px;
  }

  &__member {
    width: calc(33.33% - 50px);
    margin: 0 50px 50px 0;
    @include fadeIn;

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s);
      }
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 15px;
    margin: 0 0 28px;
    filter: grayscale(100%);
    background: center/cover;
  }

  &__linkedin {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 16px 0 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M28,32H4a4,4,0,0,1-4-4V4A4,4,0,0,1,4,0H28a4,4,0,0,1,4,4V28A4,4,0,0,1,28,32ZM19.94,15.71c2,0,2.41,1.76,2.41,3.24v7.67h4.77V18.4a7,7,0,0,0-1.57-4.88A5.15,5.15,0,0,0,21.63,12a4.7,4.7,0,0,0-4.3,2.37v-2H12.57c.06,1.33,0,14.2,0,14.33h4.76v-8a3.31,3.31,0,0,1,.16-1.17A2.66,2.66,0,0,1,19.94,15.71ZM5.17,12.29V26.62H9.93V12.29ZM7.58,5.38a2.48,2.48,0,0,0-.41,5h.38A2.48,2.48,0,1,0,8,5.38Z' style='fill:%23331f45'/%3E%3C/svg%3E");
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .team {

    &__heading {
      padding-left: 50px;
    }

    &__list {
      padding: 0;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .team {

    &__heading {
      max-width: 400px;
      padding-left: 0;
      @include font-size(50px);
    }

    &__member {
      width: calc(50% - 50px);
    }

    &__name,
    &__title {
      @include font-size(22px);
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .team {

    &__heading {
      text-align: center;
      margin: 0 auto 60px;
    }

    &__member {
      min-width: 200px;
      width: calc(100% - 100px);
      margin: 0 auto 50px;
      text-align: center;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .team {
    padding: 110px 0 38px;
    clip-path: polygon(0 45px, 100% 0, 100% 100%, 0 calc(100% - 20px));

    &__heading {
      @include font-size(46px);
    }

    &__image {
      margin: 0 0 24px;
    }

    &__name,
    &__title {
      @include font-size(20px);
    }

  }
}