.testimonials {

  &__header {
    max-width: 650px;
    margin: 0 0 110px;

    &.is-inview {
      .line {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
  
      .testimonials__text {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }
  }

  &__heading .line {
    transition: transform 1s, opacity 1s;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        transition-delay: ($i * 0.08s);
      }
    }
  }

  &__text {
    margin: 46px 0 0;
    @include fadeIn;
    transition-delay: 0.3s;
  }

  &__slider {
    outline: none;
    padding-left: 50px;

    .flickity-slider {
      height: 100%;
    }
  }
 
  &__item {
    width: 450px;
    min-height: 100%;
    background: #fff;
    border-radius: 14px;
    padding: 44px 50px 62px;
    margin: 0 25px;
    box-shadow: 0px 6px 40px 0px rgba(0,0,0,0.19);
    opacity: 0;
    transform: scale(0.75);
  }

  &__author {
    flex-direction: column;
    height: 119px;
    padding-left: 150px;
    margin: 0 0 32px;
  }

  &__name {
    margin: 22px 0 0;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 119px;
    height: 119px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__bg {
    top: -60px;
    right: -50px;
    width: calc(100% - 200px);
    height: calc(100% + 210px);
    background: $black;
    border-radius: 18px 18px 0 0;

    svg.testimonial-clip {
      position: absolute;
      bottom: 1px;
      left: 0;
      width: 100%;
      transform: translateY(100%);
    }

    svg.testimonial-bg {
      display: none;
    }
  }

  .flickity-prev-next-button {
    position: absolute;
    bottom: -134px;
    left: 225px;
    width: 50px;
    height: 47px;
    background: $white;
    border: 0;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    transition: opacity 0.3s, background 0.3s;

    &:hover {
      background: $black;

      &:after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23fff'/%3E%3C/svg%3E");
      }
    }

    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
      position: absolute;
      top: calc(50% - 4px);
      left: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 11px;
    }

    &.next {
      left: 325px;
    }

    &.previous:after {
      transform: translate(-50%, -50%) scaleX(-1);
    }

    &:disabled {
      opacity: 0.5;
    }

    .flickity-button-icon {
      display: none;
    }
  }

  &--product {
    clip-path: polygon(0 85px, 100% 0, 100% 100%, 0% 100%);
    margin-top: -85px;
    padding: 238px 0 140px;

    .testimonials__header {
      margin: 0 0 80px;
      padding-left: 100px;
      max-width: 850px;
    }

    .testimonials__heading {
      max-width: none;
    }

    .testimonials__bg {
      display: none;
    }

    .testimonials .flickity-prev-next-button {
      left: 100px;
      bottom: -112px;
    }

    .testimonials .flickity-prev-next-button.next {
      left: 202px;
    }

  }
}

// ------------------------------------------------- //

// < 1400px
@include breakpoint(xxxl) {
  .testimonials {

    &__slider {
      padding-left: 0;
    }

    .flickity-prev-next-button {
      left: 25px;

      &.next {
        left: 125px;
      }
    }

    &__bg {
      right: 0;
      width: calc(100% - 50px);
    }

  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .testimonials {

    &__heading {
      max-width: 550px;
      @include font-size(70px);
    }

    &__item {
      width: 400px;
    }

    &__quote {
      @include font-size(22px);
    }

    &--product .testimonials__header {
      padding-left: 0;
      max-width: 650px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .testimonials {

    &__heading {
      max-width: 450px;
      @include font-size(60px);
    }

  }
}

// ------------------------------------------------- //

// < 750px
@include breakpoint(m) {
  .testimonials {

    &__bg {
      width: calc(100% + 50px);
      left: -25px;
      right: auto;
      border-radius: 12px 12px 0 0;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .testimonials {

    &__header {
      margin: 0 0 60px;
    }

    &__heading {
      max-width: 300px;
      @include font-size(46px);
    }

    &__text {
      margin: 30px 0 0;
      @include font-size(16px);
    }

    &__item {
      width: 100%;
      margin: 0 50px;
      text-align: center;
      padding: 32px 28px;
    }

    &__author {
      padding: 0;
      margin: 0 0 36px;
      flex-direction: row;
    }

    &__image {
      position: relative;
      width: 76px;
      height: 76px;
    }

    &__name,
    &__company {
      width: 100%;
      @include font-size(14px); 
    }

    &__quote {
      @include font-size(18px); 
    }

    .flickity-prev-next-button {
      left: 50px;
      bottom: -78px;

      &.next {
        right: 50px;
        left: auto;
      }
    }

    &__bg {
      top: 60px;
      left: -20px;
      right: auto;
      width: calc(100% + 40px);
      height: auto;
      background: transparent;

      svg.testimonial-clip {
        display: none;
      }
  
      svg.testimonial-bg {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    &--product {
      clip-path: polygon(0 20px, 100% 0, 100% 100%, 0% 100%);
      margin-top: -20px;
      padding: 65px 0 140px;
    }

    &--product .testimonials__header {
      margin: 0 0 30px;
    }

  }
}