.textBlocks {
  background: $lightgrey;
  padding: 198px 0 50px;
  clip-path: polygon(0 0, 100% 50px, 100% 100%, 0% 100%);

  &.is-inview {
    .line {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__heading {
    width: 34.6%;

    .line {
      transition: transform 1s, opacity 1s;

      @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          transition-delay: ($i * 0.08s);
        }
      }
    }
  }

  &__list {
    width: 65.4%;
    margin: 18px 0 0;
  }

  &__item {
    width: calc(50% - 25px);
    margin: 0 0 140px;

    &.is-inview .textBlocks__title,
    &.is-inview .textBlocks__text {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__title {
    max-width: 200px;
    margin: 0 0 18px;
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: all .8s;
  }

  &__text {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: all .8s .08s;
  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .textBlocks {
    padding: 198px 0 110px;

    &__heading {
      width: 100%;
      margin: 0 0 50px;
      @include font-size(70px);
    }
  
    &__list {
      width: 100%;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .textBlocks {
    padding: 140px 0 210px;

    &__heading {
      max-width: 350px;
      @include font-size(60px);
    }

    &__item {
      width: 100%;
      margin: 0 0 50px;
    }

    &__text {
      @include font-size(22px);
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .textBlocks {
    padding: 72px 0 210px;
    clip-path: polygon(0 0, 100% 20px, 100% 100%, 0% 100%);

    &__heading {
      max-width: 250px;
      margin: 0 0 20px;
      @include font-size(46px);
    }

    &__item {
      margin: 0 0 34px;
    }

    &__title {
      margin: 0 0 8px;
      @include font-size(24px);
    }

    &__text {
      @include font-size(16px);
    }

  }
}