body.page-contact {

  .contactForm {
    margin: 0;
    clip-path: polygon(0 75px, 100% 0, 100% 100%, 0% 100%);

    // < 500px
    @include breakpoint(xs) {
      clip-path: polygon(0 26px, 100% 0, 100% 100%, 0% 100%);
    }
  }

}