body.home {

  .fixedLogo__logo .logo-icon-bg {
    fill: $white;
  }

  .header__nav .menu-item,
  .header__account {
    opacity: 0;
    transform: translateY(75px);
  }

  .header__logo .logo-icon-bg {
    fill: $white;
  }

  .fixedLogo__logo {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
  }
  
  .contactForm {
    clip-path: polygon(0 36px, 100% 0, 100% 100%, 0% 100%);
  }

}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  body.home {
    .header__nav .menu-item,
    .header__account {
      opacity: 1;
      transform: translateY(0);
    }
  }
}