.page-template-template-builder {

  .hero {
    & + .solutions {
      margin: 100px 0 0;
    }
  }

  .imageIntro {
    padding: 200px 0;

    @include breakpoint(s) {
      padding: 100px 0;
    }

    & + .solutions {
      margin: 50px 0 0;
    }
  }

  .clientLogos {
    padding: 100px 0;

    @include breakpoint(s) {
      padding: 50px 0;
    }
  }

  .products {
    padding: 125px 0;
  }

  .serviceTabs {
    margin: 0 auto 75px;

    & + .solutions {
      margin: 200px 0 0;
    }
  }

  .testimonials {
    padding: 150px 0 310px;

    @include breakpoint(s) {
      padding: 50px 0 135px;
    }
  }

  .contactForm {
    margin: 0;
  }

  .textBlocks {
    margin: -50px 0;
  }

  .team {
    margin: -45px 0;
  }

  .solutions {
    &__imageHolder {
      top: -200px;

      @include breakpoint(l) {
        top: 0;
        margin: 0 0 50px;
      }
    }
  }

  .featuresAlt {
    &__header, &__list {
      width: 100%;
    }
  }

}