body.page-partners {

  .clientLogos__heading {
    max-width: 700px;
    margin: 0 auto 36px;
  }

  .contactForm {
    margin: 120px 0 0;
    padding: 186px 0 120px;
    clip-path: polygon(0 0, 100% 60px, 100% 100%, 0% 100%);

    // < 500px
    @include breakpoint(xs) {
      clip-path: polygon(0 0, 100% 15px, 100% 100%, 0% 100%);
    }
  }

}