section.posts--search {
  padding: 220px 0;

  .posts__title {
    margin: 0 0 24px;
  }

  .posts__list {
    margin: 100px 0 0;
  }

  .posts__filters {
    margin: 50px 0 0;
  }
}

section.posts--noresults {
  padding: 220px 0;

  .searchform {
    width: 100%;
    margin: 50px 0 0;
  }
}