/*================ Mixins ================*/ 

@mixin fadeIn() {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: transform 0.8s, opacity 0.8s;

  &.is-inview {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin translateY($args) {
  -webkit-transform: translateY($args);
  -moz-transform: translateY($args);
  -ms-transform: translateY($args);
  transform: translateY($args);
}

@mixin translateX($args) {
  -webkit-transform: translateX($args);
  -moz-transform: translateX($args);
  -ms-transform: translateX($args);
  transform: translateX($args);
}

@mixin transition($args) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  transition: $args;
}

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

/**
 * Input placeholder
 * https://gist.github.com/antsa/2170024
 */
 @mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

/*================ Media Queries ================*/

@mixin breakpoint($name) {
  @if map-has-key($breakpoints, $name) {
    @media (#{$breakpoint-mode}-width: #{inspect(map-get($breakpoints, $name))}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin loadingSpinner($activeColor: "#FFD23A", $selector: "&::before", $time: 1.2s) {

  @keyframes spinner {
    0% { transform: translate3d(-50%, -50%, 0) rotate(0deg); }
    100% { transform: translate3d(-50%, -50%, 0) rotate(360deg); }
  }

  #{$selector} {
    animation: $time linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #{$activeColor};
    border-radius: 50%;
    content: "";
    height: 20px;
    width: 20px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    will-change: transform;
  }
}