/*================ Utility Classes ================*/

.center--x {
  left: 50%;
  transform: translateX(-50%);
}

.center--y {
  top: 50%;
  transform: translateY(-50%);
}

.center--xy {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.align--left {
  text-align: left;
}

.align--center {
  text-align: center;
}

.align--right {
  text-align: right;
}

.flex {
  display: flex;
  flex-wrap: wrap;

  &--inline {
    display: inline-flex;
  }

  &--r-nowrap {
    flex-wrap: nowrap;
  }

  &--x-start {
    justify-content: flex-start;
  }

  &--x-center {
    justify-content: center;
  }

  &--x-end {
    justify-content: flex-end;
  }

  &--x-between {
    justify-content: space-between;
  }

  &--x-around {
    justify-content: space-around;
  }

  &--y-start {
    align-items: flex-start;
  }

  &--y-center {
    align-items: center;
  }

  &--y-end {
    align-items: flex-end;
    ;
  }

  &--y-stretch {
    align-items: stretch;
  }

  &--y-baseline {
    align-items: baseline;
  }
}


.o--0 {
  opacity: 0;
}

.o--1 {
  opacity: 0.1;
}

.o--2 {
  opacity: 0.2;
}

.o--3 {
  opacity: 0.3;
}

.o--4 {
  opacity: 0.4;
}

.o--5 {
  opacity: 0.5;
}

.o--6 {
  opacity: 0.6;
}

.o--7 {
  opacity: 0.7;
}

.o--8 {
  opacity: 0.8;
}

.o--9 {
  opacity: 0.9;
}

.pos--rel {
  position: relative;
}

.pos--abs {
  position: absolute;
}

.pos--fix {
  position: fixed
}

.z--0 {
  z-index: -1;
}

.z--1 {
  z-index: 1;
}

.z--2 {
  z-index: 2;
}

.z--3 {
  z-index: 3;
}

.z--4 {
  z-index: 4;
}

.z--5 {
  z-index: 5;
}

.z--6 {
  z-index: 6;
}

.z--7 {
  z-index: 7;
}

.z--8 {
  z-index: 8;
}

.z--9 {
  z-index: 9;
}

.z--10 {
  z-index: 10;
}

.z--max {
  z-index: 999;
}

.tt--upper {
  text-transform: uppercase;
}
