/*================ Font Size Variables - https://offroadcode.com/rem-calculator ================*/

// Set your <HTML> font-size (px)
$set-html-font-size: 16px;

/*================ Colour Variables ================*/

$white: #fff;
$black: #331F45;
$yellow: #FFD23A;
$red: #FF6D59;
$blue: #429FFA;
$green: #00B06A;
$lightgrey: #F5F5F6;
$purple: #79648B;
$pink: #eb43c7;

/*================ Font Settings ================*/
 
$fontsizes: (12, 14, 16, 18, 20, 22, 24, 26, 40, 30, 60, 80);
$fontweights: (300, 400, 500, 700);
$lineheights: (70, 100, 130, 140, 166, 178, 187);

$f--head: 'Right Grotesk', sans-serif;
$f--body: 'Biennale', sans-serif;

$primaryfont: $f--body;

$fontfamilies: (
  'head': $f--head, 
  'body': $f--body
); 

$fontcolors: (
  'black': $black,
  'white': $white,
  'purple': $purple
);

$letterspacing: (
  t10: -0.01,
  l40: 0.04
);

/*================ Generate Font Classes ================*/

@each $fs in $fontsizes {
  .fs--#{$fs} {
    font-size: #{$fs}px;
    font-size: calc(#{$fs} / 16 * 1rem);
  }
}

@each $fc, $color in $fontcolors {
  .fc--#{$fc} {
    color: $color;
  }
}

@each $fw in $fontweights {
  .fw--#{$fw} {
    font-weight: $fw;
  }
}

@each $ff, $font in $fontfamilies {
  .ff--#{$ff} {
    font-family: $font;
  }
}

@each $lh in $lineheights {
  .lh--#{$lh} {
    line-height: calc(#{$lh} / 100);
  }
}

@each $ls, $space in $letterspacing {
  .ls--#{$ls} {
    letter-spacing: #{$space}em;
  }
}

/*================ Media Query Type Variables ================*/

$breakpoint-mode: 'max';
$breakpoints: (
  ssl:  1600px,
  sl:   1500px,
  xxxl: 1400px,
  xxl:  1200px,
  xl:   1080px,
  l:    960px,
  m:    750px,
  s:    600px,
  xs:   500px,
  xxs:  400px,
  t:    350px
);

$containers: (
  l: 1500px,
  m: 1300px,
  s: 900px
);