/*================ Global Button Styles ================*/

.button {
  display: inline-block;
  background: $black;
  color: $white;
  border-radius: 8px;
  padding: 12px 24px;
  font-weight: 400;
  @include font-size(16px);
  transition: color 0.3s;

  &:hover {
    color: $yellow;
    text-decoration: none;
  }

  &:focus,
  &:after {
    color: $yellow;
    text-decoration: none;
  }

  // < 500px
  @include breakpoint(xs) {
    padding: 10px 26px;
    @include font-size(12px);
  }
}

.button-outline {
  display: inline-block;
  background: transparent;
  color: $white;
  border: 2px solid $white;
  border-radius: 8px;
  padding: 10px 28px;
  font-weight: 700;
  transition: color 0.3s, background 0.3s, color 0.3s;

  &:hover {
    background: $white;
    color: $black;
  }

  &--black {
    color: $black;
    border: 2px solid $black;

    &:hover {
      background: $black;
      color: $white;
    }
  }
}

.arrowBtn {
  width: 50px;
  height: 47px;
  background: #fff;
  border: 0;
  padding: 0;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  transition: background 0.3s;

  &:hover {
    background: $black;
  }

  &:hover:after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23fff'/%3E%3C/svg%3E");
  }

  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24.5 11'%3E%3Cpolygon points='24.5 5.5 15.5 0 15.5 4.5 0 4.5 0 6.5 15.5 6.5 15.5 11 24.5 5.5' style='fill:%23331f45'/%3E%3C/svg%3E");
    width: 24px;
    height: 11px;
  }

  &--previous:after {
    transform: translate(-50%, -50%) scaleX(-1);
  }

  &:disabled {
    opacity: 0.5;
  }

  .flickity-button-icon {
    display: none;
  }
}