.wf-active .fixedPromo {
  transform: translateX(0);
}

.fixedPromo {
  bottom: 65px;
  left: 0;
  width: 150px;
  padding: 40px 16px 24px;
  background: $yellow;
  border-radius: 0 14px 14px 0;
  transform: translateX(-100%);
  transition: transform 0.6s 0.4s, background 0.3s;

  &:hover {
    background: darken($yellow, 12%);
  }

  &__icon {
    width: 68px;
    height: auto;
  }

  &__text {
    margin: 20px 0 18px;
  }

  &__link {
    text-decoration: underline;
  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {

  .wf-active .fixedPromo {
    transform: translate(0, 0);
  }

  .fixedPromo {
    bottom: 45px;
    left: 45px;
    right: auto;
    width: calc(100% - 90px);
    border-radius: 14px;
    padding: 16px 20px 20px 100px;
    text-align: left;
    transform: translate(0, calc(100% + 45px));

    &__icon {
      position: absolute;
      top: 17px;
      left: 18px;
      width: 63px;
    }

    &__text {
      margin: 0 0 2px;
      @include font-size(12px);
    }
  }
}