.wf-active .fixedBtn {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.fixedBtn {
  left: 45px;
  bottom: 45px;
  right: 45px;
  padding: 15px 0;
  background: $black;
  border-radius: 8px;
  text-align: center;
  display: none;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: transform 1s, opacity 1s;

  // < 960px
  @include breakpoint(l) {
    // display: block;
  }

  &__icon {
    top: 12px;
    left: 14px;
    width: 35px;
    height: auto;
  }
}

.products-flowr {
  .fixedBtn #icon-foreground {
    fill: #429ffa !important;
  }

  .fixedBtn #icon-colour {
    fill: #fff !important;
  }
}

.products-filer {
  .fixedBtn #icon-foreground {
    fill: #00b06a !important;
  }

  .fixedBtn [data-name="icon-colour"],
  .fixedBtn #icon-colour {
    fill: #fff !important;
  }
}

.products-vertr {
  .fixedBtn [data-name="icon-foreground"],
  .fixedBtn #icon-foreground {
    fill: #FF6D59 !important;
  }

  .fixedBtn [data-name="icon-colour"],
  .fixedBtn #icon-colour {
    fill: #fff !important;
  }
}