.fixedLogo {
  top: 205px;
  right: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  z-index: 99999999;

  &.logo-yellow .fixedLogo__logo .logo-icon rect {
    fill: $yellow !important;
  }

  &__logo {
    display: inline-block;
    width: 237px;
    height: 52px;
    margin: 44px 0 0;
    pointer-events: auto;

    // < 1400px
    @include breakpoint(xxxl) {
      width: 197px;
      height: 43px;
      margin: 49px 0 0;
    }

    // < 1200px
    @include breakpoint(xxl) {
      .logo-text {
        display: none;
      }
    }

    // < 960px
    @include breakpoint(l) {
      display: none;
    }

    svg {
      width: 100%;
      height: 100%;
    }

    rect {
      transition: fill .3s;
    }
  }
}

.pin-spacer {
  pointer-events: none;
}