.footer {
  padding: 116px 0 0;
  margin: -62px 0 0;
  background: $lightgrey;
  clip-path: polygon(0 0, 100% 62px, 100% 100%, 0% 100%);

  &__side {
    display: inline-block;
  }

  &__logo {
    width: 237px;
    height: 52px;
    display: block;

    .logo-icon-bg {
      fill: $yellow;
    }
  
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__affiliates-header {
    margin: 80px 0 40px;
  }

  &__affiliates {

  }

  &__affiliate-item {
    display: block;
    margin: 0 0;
    &:nth-child(n+2) {
      margin: 30px 0 0;
    }
    img {
      max-width: 140px;
      width: calc(100% - 20px);
      height: 90px;
      object-fit: contain;
      object-position: center;
    }
  }

  &__nav {
    width: 73%;
    margin: 14px 0 0 auto;
    padding-right: 50px;
  }

  &__row { 
    padding: 34px 0 18px;
    border-bottom: 1px solid #D0D0D0;

    .menu-item a {
      transition: color .3s;

      &:hover {
        color: $black;
      }
    }

    &--products {
      padding: 0 0 40px;

      .footer__heading {
        margin: 0 0 34px;
      }

      .menu {
        display: flex;
      }

      .menu-item {
        font-size: 0;
        width: 27.77%;
        padding-right: 11.11%;

        &:hover .menu-text {
          color: $black;
        }
      }

      .menu-heading {
        display: none;
      }

      .menu-icon {
        width: 60px;
        min-width: 60px;
        height: auto;
        margin: 0 0 20px;
      }

      .menu-text {
        color: $purple;
        transition: color 0.3s;
        @include font-size(18px);
      }
    }

    &--main {
      .footer__heading {
        margin: 0 0 30px;
      }

      .menu-item {
        margin: 0 0 14px;
      }

      .menu-item a {
        color: $purple;

        span {
          text-decoration: underline;
          color: $black;
        }
      }
    }

    &--partners {
      padding: 44px 0 42px;

      .footer__heading {
        margin: 0 0 28px;
      }

      .menu {
        display: flex;
        align-items: center;
      }

      .menu-item {
        width: 33.33%;

        img {
          width: calc(100% - 25px);
          max-width: 220px;
        }
      }

      .menu-item a {
        font-size: 0;
      }
    }

    &--end {
      padding: 18px 0 20px;
      border: 0;
    }

  }

  &__column {
    &--services {
      width: 44.44%;
      padding-right: 16.66%;
    }

    &--industries {
      width: 33.33%;
      padding-right: 11.11%;
    }

    &--support {
      width: 22.22%;
      padding-right: 5.55%;
    }
  }

  .menu-footer-policies-container .menu {
    display: flex;

    .menu-item {
      margin-right: 20px;
      &:last-child {
        margin: 0;
      }
    }

    .menu-item a {
      font-size: 14px;
      color: #79648B;
      text-decoration: underline;
    }
  }

  &__copyright {
    margin-left: auto;
    text-align: right;
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .footer {

    &__side {
      width: 100%;
    }

    &__logo {
      margin: 0 0 50px;
    }

    &__affiliates {
      display: flex;
      flex-wrap: wrap;
    }

    &__affiliate-item {
      width: 33.3%;
      display: flex;
      justify-content: center;
      &:nth-child(n+2) {
        margin: 0;
      }
      &:nth-child(n+4) {
        margin: 30px 0 0;
      }
    }

    &__nav {
      width: 100%;
      padding: 0;
    }

  }
}

// ------------------------------------------------- //

// < 600px
@include breakpoint(s) {
  .footer {

    &__logo {
      margin: 0;
    }

    &__column--services,
    &__column--industries,
    &__column--support {
      display: flex;
      width: 100%;
      padding: 0;
      margin: 0 0 38px;

      div,
      .footer__heading {
        width: 50%;
      }
    }

    &__row {
      padding: 44px 0 12px;
    }
    
    &__row--partners {
      display: flex;
      padding: 58px 0 0;

      .menu {
        flex-direction: column;
      }

      .menu-item {
        width: 100%;
        margin: 0 0 26px;
      }

      .menu-item img {
        width: 100%;
      }
      
      div,
      .footer__heading {
        width: 50%;
      }
    }

    &__row--end {
      padding: 26px 0 34px;
    }

    &__sitemap,
    &__cookie {
      width: 100px;
      margin: 0;
    }

    &__credit {
      text-align: right;
    }

    &__copyright {
      order: 99;
      width: 100%;
      text-align: left;
      margin: 26px 0 0;
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .footer {
    padding: 66px 0 0;
    margin: -20px 0 0;
    clip-path: polygon(0 0, 100% 20px, 100% 100%, 0% 100%);

    &__logo {
      width: 200px;
      height: 45px;
    }

    &__heading {
      @include font-size(18px);
    }

    &__row--main .menu-item {
      margin: 0 0 10px;
    }

    &__column .menu-item a {
      @include font-size(14px);
    }

    &__row--products .menu {
      flex-direction: column;
    }

    &__row--products .menu-item {
      width: 100%;
      padding: 0;

      .menu-text {
        padding-left: 40px;
        max-width: 200px;
        @include font-size(16px);
      }

      .menu-icon {
        margin: 0 0 30px;
      }

      a {
        display: flex;
      }
    }

    &__sitemap,
    &__cookie,
    &__credit,
    &__copyright {
      @include font-size(12px);
    }
    

  }
}