/*================ Input ================*/

[type='text'],
[type='email'],
[type='tel'],
[type='search'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='number'],
[type='password'],
[type='week'],
[type='url'],
[type='time'] {
  background: $white;
  border-radius: 17px;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-appearance: none;
  border: 0;
  padding: 18px 22px;

  &.error {
    border: 2px solid red;
  }

  // < 500px
  @include breakpoint(xs) {
    border-radius: 8px;
    padding: 10px 16px;
    @include font-size(14px);
  }

  @include placeholder {
    color: $black;
    opacity: 1;
  }
}

input.sfu {
  display: none;
}

select {
  background: $white;
  border-radius: 17px;
  font-size: 20px;
  font-size: 1.25rem;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  padding: 18px 22px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 24.5'%3E%3Cpolygon points='6.5 15.5 6.5 0 4.5 0 4.5 15.5 0 15.5 5.5 24.5 11 15.5 6.5 15.5' style='fill:%23331e44'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 11px;
  background-position: calc(100% - 30px) 50%;

  // < 500px
  @include breakpoint(xs) {
    border-radius: 8px;
    padding: 10px 16px;
    background-size: 7px;
    background-position: calc(100% - 14px) 50%;
    @include font-size(14px);
  }
}

[type='submit'] {
  background: $black;
  color: #fff;
  border-radius: 17px;
  font-size: 1.25rem;
  appearance: none;
  border: 0;
  padding: 18px 22px;
  @include font-size(20px);
  border: 2px solid $black;
  transition: color 0.3s, background 0.3s;

  &:hover {
    background: transparent;
    color: $black;
  }
  
  // < 500px
  @include breakpoint(xs) {
    border-radius: 8px;
    padding: 10px 16px;
    @include font-size(14px);
  }
}

.checkbox {
  position: relative;
  display: block;
  cursor: pointer;

  label {
    display: inline-block;
  }

  label a {
    text-decoration: underline;
  }

  // < 500px
  @include breakpoint(xs) {
    label {
      line-height: 1.33;
      @include font-size(12px);
    }

    input, .checkbox__box {
      width: 26px;
      height: 25px;
    }
  }
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 32px;
  height: 30px;
}

.checkbox input.error ~ .checkbox__box {
  border: 2px solid red;
}

.checkbox input:checked ~ .checkbox__box {
  background-color: $black;
}

.checkbox input:checked ~ .checkbox__box:after {
  transform: translate(-50%, -50%) scale(1);
}


.checkbox__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 30px;
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  pointer-events: none;
  transition: background-color .2s;

  &:after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8.67'%3E%3Cpath d='M4,8.67a.67.67,0,0,1-.47-.2L.2,5.14a.65.65,0,0,1,0-.94.65.65,0,0,1,.94,0L4,7.06,10.86.2a.65.65,0,0,1,.94,0,.65.65,0,0,1,0,.94L4.47,8.47A.67.67,0,0,1,4,8.67Z' style='fill:%23fff'/%3E%3C/svg%3E");
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    transition: transform .3s;
  }
}

/*================ Textarea ================*/

textarea {
  width: 100%;
  border: 0;
  resize: none;
  padding: 19px 22px;
  border-radius: 17px;
  box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);

  // < 500px
  @include breakpoint(xs) {
    border-radius: 8px;
    padding: 10px 16px;
    @include font-size(14px);
  }

  @include placeholder {
    color: $black;
    opacity: 1;
  }
}

/*================ Select ================*/

select {
  // display: block;
}

/*================ Label ================*/

label {
  // display: block;
  // max-width: 100%;
  // margin-bottom: 5px;
  // font-weight: bold;
}

/*================ Errors ================*/

.error-message {
  font-size: 12px;
  color: red;
}

.error {
  border-color: red;
}

/*================ Gravity Forms ================*/

.gfield {
  position: relative;

  &--width-full {
    grid-column: span 2;
    
    @include breakpoint(m) {
      grid-column: span 1;
    }
  }
}

.gform_fields,
.gform_footer {
  display: grid;
  grid-gap: 44px 50px;
  grid-template-columns: repeat(2, 1fr);
  
  @include breakpoint(m) {
    grid-template-columns: repeat(1, 1fr); 
  }

  @include breakpoint(xs) {
    grid-gap: 14px 0;
  }
}

.gform_fields input,
.gform_fields select {
  width: 100%;
}

.gfield_label {
  display: none;
}

.ginput_container_consent {
  display: flex;
  align-items: flex-start;

  input[type="checkbox"] {
    width: 26px;
    height: 26px;
    margin: 0 15px 0 0;
  }
}

fieldset.gfield {
  padding: 0 0 44px;

  @include breakpoint(xs) {
    padding: 0;
  }
}

.gform_footer {
  @include breakpoint(xs) {
    padding: 32px 0 0;
  }
}

.gfield_error input {
  border: 2px solid #f03e3e;
}

.gform_submission_error {
  font-size: 22px;
  margin: 0 0 32px;
}

.gfield_validation_message {
  position: absolute;
  bottom: -24px;
  left: 0;
  color: #351919;
  font-size: 14px;
  font-weight: 700;

  @include breakpoint(xs) {
    position: relative;
    margin: 3px 0;
    bottom: 0;
  }
}

.gfield_consent_label {
  @include breakpoint(xs) {
    font-size: 14px;
  }
}

.gfield_consent_label a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.gfield input[type="checkbox"] {
  opacity: 0;
  top: 0;
  left: 0;
  width: 32px;
  height: 30px;
  min-width: 32px;
  min-height: 30px;
  cursor: pointer;
}
 
.gfield input[type="checkbox"] + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  pointer-events: none;
  background-color: $white;
  background-size: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8.67'%3E%3Cpath d='M4,8.67a.67.67,0,0,1-.47-.2L.2,5.14a.65.65,0,0,1,0-.94.65.65,0,0,1,.94,0L4,7.06,10.86.2a.65.65,0,0,1,.94,0,.65.65,0,0,1,0,.94L4.47,8.47A.67.67,0,0,1,4,8.67Z' style='fill:%23fff'/%3E%3C/svg%3E");
  transition: background-color .2s, background-size 0.3s;
  cursor: pointer;
}

.gfield input[type="checkbox"]:checked + label:before {
  background-color: $black;
  background-size: 12px;
}

.gform_confirmation_message {
  @include font-size(32px);
  font-family: $f--head;
  text-align: center;
  margin: 0 0 18px;
}

.gform_required_legend {
  font-size: 14px;
  margin: 0 0 12px;
}