.header {
  top: 0;
  left: 0;
  width: 100vw;
  transition: transform .3s, background .3s;
  z-index: 9999999;

  &.logo-yellow .header__logo .logo-icon rect {
    fill: $yellow;
  } 

  &.hidden {
    transform: translateY(-100%);
  }

  &.white {
    background: #fff;
  }

  .container {
    height: 140px;
  }

  &__logo { 
    display: inline-block;
    width: 237px;
    height: 52px;

    .logo-icon-bg {
      fill: $yellow;
    }
  
    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__nav {
    // margin: 0 58px 0 0;

    .menu {
      display: flex;
    }

    .menu-item {
      position: relative;
      margin: 0 0 0 58px;

      &:hover .sub-menu {
        transform: scale3d(1, 1, 1);
        opacity: 1;
        pointer-events: auto;
      }
    }

    .menu-item a {
      display: inline-block;
      font-weight: 500;
      letter-spacing: -0.01em;

      @media screen and (min-width: 961px) {
        &:hover:after {
          pointer-events: auto;
        }
  
        &:not(.sub-menu a):after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 100%;
          height: 50px;
          pointer-events: auto;
        }
      }

    }

    .current-menu-item a {
      font-weight: 700;
    }

    .menu-accordian:hover:after {
      pointer-events: auto;
    }

    .menu-accordian:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 20px;
      bottom: -15px;
      left: 0;
      pointer-events: none;
    }

    .sub-menu {
      position: absolute;
      background: $white;
      border-radius: 12px;
      min-width: 250px;
      padding: 20px;
      left: -50px;
      top: 38px;
      box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
      opacity: 0;
      transform: perspective(2000px) translate3d(0px, -66px, 200px) rotateX(-30deg) scale3d(0.9, 0.9, 1) translateY(70px);
      transition: transform 0.4s, opacity 0.3s;
      pointer-events: none;

      &:before {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.63 28.63'%3E%3Crect x='3.31' y='3.31' width='22' height='22' rx='3' transform='translate(-5.93 14.31) rotate(-45)' style='fill:%23fff'/%3E%3C/svg%3E");
        position: absolute;
        top: -5px;
        left: 72px;
        width: 22px;
        height: 22px;
      }
    }

    .sub-menu .menu-item {
      margin: 0;
      width: 100%;
    }

    .sub-menu .menu-item a {
      width: 100%;
      padding: 5px 10px;
      margin: 0 0 5px;
      
      &:hover {
        text-decoration: none;
        transform: scale(1);
      }

      &:hover:after {
        opacity: 1;
        transform: scale(1);
      }

      &:after {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        background: #F5F5F6;
        z-index: -1;
        border-radius: 12px;
        opacity: 0;
        transform: scale(0.6);
        transition: transform 0.5s cubic-bezier(0.46, 1.87, 0.19, 0.97), opacity 0.3s;
      }
    }

    // Products menu item
    .products-item {
      margin: 0;
    }

    .products-item .sub-menu {
      display: flex;
      flex-wrap: wrap;
      width: 755px;
      padding: 50px 50px 0;
    }

    .products-item .sub-menu .menu-item {
      width: 152px;
      margin: 0 98px 45px 0;

      &:nth-child(3n) {
        margin: 0;
      }
    }

    .products-item .sub-menu .menu-item a {
      display: flex;
      flex-direction: column;
      font-size: 0;
      padding: 0;
      margin: 0;

      &:after {
        top: -25px;
        left: -25px;
        width: calc(100% + 50px);
        height: calc(100% + 50px);
      }
    }

    .sign-in a:not(.sub-menu a) {
      font-size: 0;
      width: 34px;
      height: 34px;
      display: inline-block;
      position: relative;
      top: -22px;
      background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 33.43 33.43' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m16.71 0a16.7 16.7 0 0 0 -11.57 28.75l.3.26c.26.24.53.49.82.71l.46.35c.27.2.54.4.82.58s.38.24.57.35.52.32.79.46.45.22.68.33l.76.35.77.28.74.26.85.22.71.17c.33.07.67.11 1 .15s.41.07.62.09a15.26 15.26 0 0 0 3.31 0c.21 0 .41-.06.62-.09s.67-.08 1-.15l.71-.17.86-.22.73-.26.78-.28.75-.35c.23-.11.46-.21.68-.33s.53-.3.79-.45.39-.23.57-.36.55-.38.82-.58.31-.22.46-.35.55-.47.82-.71l.3-.26a16.7 16.7 0 0 0 -11.52-28.75zm2.34 16.08a5 5 0 0 1 -1 .43h-.18l-.37.08a5.53 5.53 0 0 1 -.7.07h-.14a5.72 5.72 0 0 1 -.7-.07l-.36-.08h-.19a5.2 5.2 0 0 1 -1-.43 4.78 4.78 0 1 1 6.51-1.83 4.73 4.73 0 0 1 -1.87 1.83zm-5.38 2.34a7.11 7.11 0 0 0 6.08 0 9.56 9.56 0 0 1 6.51 8.94l-.15.14-.67.55-.4.3c-.21.15-.43.3-.66.44l-.5.3c-.21.13-.42.24-.64.35a6.27 6.27 0 0 1 -.58.29l-.66.27-.66.24-.61.2-.73.19c-.19.05-.39.1-.58.13s-.57.1-.86.14-.33.05-.5.06a12.81 12.81 0 0 1 -1.39.07c-.47 0-.94 0-1.39-.06l-.5-.07-.78-.13-.57-.14-.74-.19-.61-.2c-.22-.08-.44-.15-.66-.24l-.62-.27-.58-.28c-.22-.11-.43-.23-.64-.36l-.58-.29-.66-.45-.4-.3-.64-.55a1.85 1.85 0 0 1 -.14-.14 9.55 9.55 0 0 1 6.51-8.94zm14.71 6.58a12 12 0 0 0 -6.38-8.23 7.16 7.16 0 1 0 -10.55 0 12 12 0 0 0 -6.45 8.23 14.33 14.33 0 1 1 23.34 0z' fill='%23331f45'/%3E%3C/svg%3E");

      @include breakpoint(l) {
        width: auto;
        height: auto;
        top: 0;
        background: none;
        @include font-size(20px);
      }
    }

    .sign-in .sub-menu {
      @include font-size(16px);
      left: -190px;

      @include breakpoint(l) {
        left: 0;
      }
    }

    .sign-in .sub-menu:before {
      left: 196px;
    }

    .sub-menu .menu-heading {
      @include font-size(22px);
      font-weight: 700;
    }

    .sub-menu .menu-icon {
      order: -1;
      width: 100%;
      max-width: 50px;
      height: auto;
      margin: 0 0 18px;
    }

    .sub-menu .menu-text {
      font-weight: 500;
      line-height: 1.2;
      margin: 2px 0 0;
      @include font-size(16px);
    }

  }

  &__account {
    display: inline-block;
    margin: 0 0 0 78px;
    
    p {
      display: none;
    }
    
    svg { 
      width: 33px;
      height: 33px;
      transition: transform 0.5s cubic-bezier(0.46, 1.87, 0.19, 0.97);

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__menuButton {
    display: none;
  }
}

body.home .header__logo {
  opacity: 0;
  pointer-events: none;

  // < 960px
  @include breakpoint(l) {
    opacity: 1;
    pointer-events: auto;
  }
}

// ------------------------------------------------- //

// < 1400px
@include breakpoint(xxxl) {
  .header {

    &__logo {
      width: 197px;
      height: 43px;
    }

    &__logo svg {
      width: 197px;
    }

    &__nav {
      margin: 0;
    }

    &__nav .menu-item {
      margin: 0 0 0 50px;
    }

    &__account {
      margin: 0 0 0 50px;
    }

  }
}

// ------------------------------------------------- //

// < 1200px
@include breakpoint(xxl) {
  .header {

    &__logo .logo-text {
      display: none;
    }

    &__logo {
      width: 48px;
    }

    &__nav .menu-item {
      margin: 0 0 0 42px;
    }

  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .header {

    &__logo .logo-text {
      display: block;
    }

    &__logo {
      width: 197px;
    }

    &__nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: $yellow;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;
      overflow: scroll;

      &.js-open {
        opacity: 1;
        pointer-events: auto;
      }

      .menu-header-menu-container {
        position: absolute;
        top: 150px;
        left: 50px;
        width: calc(100% - 100px);
      }

      .menu {
        flex-direction: column;
        margin: 0 0 75px;
      }

      .menu-item {
        margin: 0 0 18px;
      }

      .menu-item a {
        @include font-size(20px);
      }

      .sub-menu {
        position: relative;
        transform: none;
        top: 0;
        left: 0;
        background: transparent;
        box-shadow: none;
        padding: 0;
        margin: 6px 0 0;
        

        &:before {
          display: none;
        }
      }

      .sub-menu .menu-item a {
        padding: 5px 0;

        &:after {
          display: none;
        }
      }

      .products-item {
        background: #fff;
        border-radius: 12px;
        left: -26px;
        width: calc(100% + 52px);
        padding: 22px 26px 22px;
        margin: 0 0 36px;
        transition: height .6s, background .4s;
        overflow: hidden;

        .sub-menu {
          opacity: 1;
          width: auto;
        }

        &.toggle {
          height: 0 !important;
          background: transparent;

          .sub-menu {
            opacity: 0;
            transform: translateY(-25px);
            pointer-events: none;
          }

          .menu-accordian:after {
            transform: rotate(-90deg);
          }
        }
      }

      .menu-accordian {
        position: relative;
        padding-left: 30px;

        &:before,
        &:after {
          content: '';
          position: absolute;
          left: -5px;
          top: 12px;
          width: 20px;
          height: 2px;
          border-radius: 1px;
          background: $black;
          transition: transform 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
        }
      }

      .products-item .sub-menu {
        position: relative;
        opacity: 1; 
        transform: none;
        left: 0;
        top: 0;
        padding: 0;
        margin: 18px 0 0;
        background: transparent;
        box-shadow: none;
        justify-content: space-between;
        transition: transform .6s, opacity .3s;

        &:before {
          display: none;
        }
      }

      .products-item .sub-menu .menu-item {
        width: calc(33.33% - 20px);
        margin: 0 0 40px;

        &:nth-child(3n) {
          margin: 0 0 40px;
        }
      }

      .products-item .sub-menu .menu-item a:after {
        display: none;
      }

      .sub-menu .menu-text {
        @include font-size(14px);
      }

      .dropdown:not(.products-item) {
        max-height: 28px;
        overflow: hidden;
        height: auto !important;
        transition: max-height .6s ease-out;

        .sub-menu {
          opacity: 0;
        }

        .menu-accordian:before, .menu-accordian:after {
          width: 15px;
          left: 0;
        }

        .menu-accordian:after {
          transform: rotate(-90deg);
        }

        &.toggle {
          max-height: 500px;

          .sub-menu {
            opacity: 1 !important;
          }

          .menu-accordian:after {
            transform: rotate(0);
          }
        }
      }
    }

    &__menuButton {
      display: inline-block;
      width: 24px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        transform: translate(-50%, -50%);
      }

      &.js-open span {
        width: 24px;
        
        &:after,
        &:before {
          width: 0;
        }
      }
    }
  
    &__menuButton span {
      display: inline-block;
      position: relative;
      width: 14px;
      height: 2px;
      top: -3px;
      border-radius: 1px;
      background: $black;
      transition: width 0.5s cubic-bezier(.65,.05,.36,1);
  
      &:after,
      &:before {
        content: '';
        width: 24px;
        height: 2px;
        background: $black;
        display: block;
        position: relative;
        top: 6px;
        border-radius: 1px;
        transition: width 0.5s cubic-bezier(.65,.05,.36,1);
      }
  
      &:before {
        top: -8px;
      }
    }

    &__account { 
      display: flex;
      position: fixed;
      bottom: 45px;
      right: 45px;

      p {
        display: block;
        margin: 0 14px 0 0;
      }
    }

  }
}

// ------------------------------------------------- //

// < 500px
@include breakpoint(xs) {
  .header {
    
    .container {
      height: 106px;
    }

    &__nav {

      .menu-header-menu-container {
        top: 115px;
      }

      .products-item {
        padding: 22px 26px 26px;
      }
      
      .products-item .sub-menu {
        flex-wrap: wrap;
      }

      .products-item .sub-menu .menu-item {
        width: 100%;
        margin: 0 0 46px;

        &:before, &:after {
          content: '';
          position: absolute;
        }

        &:before {
          top: 12px;
          right: -6px;
          width: 18px;
          height: 8px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18.42 8.27'%3E%3Cpolygon points='18.42 4.13 11.65 0 11.65 3.13 0 3.13 0 5.13 11.65 5.13 11.65 8.27 18.42 4.13' style='fill:%23331f45'/%3E%3C/svg%3E");
          background-size: cover;
          background-repeat: no-repeat;
        }

        &:after {
          bottom: -30px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #707070;
        }

        &:last-child:after {
          display: none;
        }
      }

      .products-item .sub-menu .menu-item a {
        padding-left: 95px;
      }

      .products-item .sub-menu .menu-text {
        max-width: 140px;
      }

      .products-item .sub-menu .menu-icon {
        position: absolute;
        max-width: 65px;
        top: 11px;
        left: -4px;
      }

    }
  }
}