.wf-active .quicklinks { 
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}

#wpadminbar {
  z-index: 99999999;
}

#wp-toolbar {
  pointer-events: auto !important;
}

.quicklinks {  
  width: 100%;
  top: 145px;
  pointer-events: none;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: transform 1s, opacity 1s;

  &__list {
    padding: 18px 50px;
    margin-right: 50px;
    border-radius: 31px;
    background: $black;
    color: #fff;
    pointer-events: auto;
    transition: transform .3s;

    &.nav-revealed {
      transform: translateY(100px);
    }

    li {
      margin: 0 42px 0 0;
      cursor: pointer;
    }

    li.active {
      font-weight: 700;
    }

    li:last-child {
      margin: 0;
    }
  }
}

// ------------------------------------------------- //

// < 960px
@include breakpoint(l) {
  .quicklinks {
    display: none;
  }
}