.searchform {
  position: relative;

  label {
    display: none;
  }
  
  input#s {
    width: 100%;
    box-shadow: 3px 3px 12px 0px rgba(0,0,0,0.16);
  }

  input#searchsubmit {
    position: absolute;
    top: 50%;
    right: 22px;
    padding: 0;
    background: transparent;
    font-size: 0;
    border-radius: 0;
    width: 27px;
    height: 27px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28.6 28.35'%3E%3Cpath d='M16.33,0A12.27,12.27,0,0,0,6.87,20.07L.71,26.23a1,1,0,0,0,1.41,1.42l6.16-6.16A12.26,12.26,0,1,0,16.33,0Zm0,22.53A10.27,10.27,0,1,1,26.6,12.27,10.27,10.27,0,0,1,16.33,22.53Z' style='fill:%23331e44'/%3E%3C/svg%3E");
    background-size: cover;
    transform: translateY(-50%);
    border: 0;
  }
}