.support {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  background: $yellow;
  color: $black;
  border-radius: 50px;
  font-weight: 700;
  transition: background 0.3s;
  z-index: 9;

  &:hover {
    background: #F0C224;
  }

  span {
    display: flex;
    align-items: center;
  }

  span:before {
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg transform='translate(-1 -1)'%3E%3Cpath d='M9-1A10,10,0,0,1,19,9,10,10,0,0,1,9,19,10,10,0,0,1-1,9,10,10,0,0,1,9-1ZM9,17.182A8.182,8.182,0,1,0,.818,9,8.191,8.191,0,0,0,9,17.182Z' transform='translate(2 2)' fill='%23331f45'/%3E%3Cpath d='M11.92,14a1,1,0,0,1-.316-1.949c.6-.2,2.316-1.018,2.316-2.051a2,2,0,0,0-3.887-.668,1,1,0,1,1-1.887-.664A4,4,0,0,1,15.92,10a3.7,3.7,0,0,1-1.945,3.081,8.114,8.114,0,0,1-1.738.867A1,1,0,0,1,11.92,14Z' transform='translate(-1.001 -0.714)' fill='%23331f45'/%3E%3Cpath d='M.01,1H0A1,1,0,0,1-1,0,1,1,0,0,1,0-1H.01a1,1,0,0,1,1,1A1,1,0,0,1,.01,1Z' transform='translate(10.999 15.5)' fill='%23331f45'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    margin: 0 6px 0 0;
  }
}